[2019-11-27 09:29] ghinminesuyog commented on #238
Another question that I have is whether I should provide the redirect uri here or in some other place because I am not redirected to the specified path.

[2019-11-27 10:20] singhjolly commented on #235
we have facing issue in angular 8 for login google account , please find the attached screen short
![Capture](https://user-images.githubusercontent.com/24824223/69715065-9c32d900-112d-11ea-8637-0fa81a4c1242.PNG)

[2019-11-27 10:22] singhjolly commented on #230
Kindly help me for the attached issue,
![Capture](https://user-images.githubusercontent.com/24824223/69715207-e3b96500-112d-11ea-88e7-2453863eaede.PNG)

[2019-11-27 22:51] thuctd opened #239 "Please help error ERR_BLOCKED_BY_CLIENT!"
GET https://apis.google.com/js/platform.js net::ERR_BLOCKED_BY_CLIENT
angularx-social-login.js:277
i used 2.2.1

[2019-11-30 07:59] jaibatrik commented on #239
Kindly provide more information, a sample if possible.

[2019-11-30 08:01] jaibatrik commented on #235
Also, can you try an older version? The latest version might have compatibility issue with Angular 7.

[2019-11-30 08:03] jaibatrik commented on #238
You get the auth token in the `SocialUser` object. You can use that token to request further information.

[2019-11-30 08:03] #238 closed

[2019-12-01 16:33] nickmorton commented on #239
I recently had the exact same issue and it was my ad blocker.

[2019-12-02 10:41] BrianWClausen commented on #122
This is a great solution, but is there someway of making this work without the use of localstorage? I need it to work with universal on a node server.

[2019-12-02 12:37] somcoder commented on #122
@BrianWClausen I used `localStorage` as a caching mechanism, and I think you can use it too. [See this](https://stackoverflow.com/a/39098748/4672277)

[2019-12-02 17:11] BrianWClausen commented on #122
@somcoder Thanks! I'll take a look.

[2019-12-03 06:58] sachinsoliya975 commented on #221
@jaibatrik facing similar issue with google login.
When there are multiple google accounts, dialog popup to confirm the user, but in case if there is only a single google account, the user is directly authorized.

I tried to call sign out at the init, still facing same issue.

@henryyue2010, did _facebook login dialog to confirm the user_ issue resolved?

[2019-12-05 00:20] henryyue2010 commented on #221
No, not yet

[2019-12-10 21:38] stsness opened #240 "Sign in with Apple"
Can there be login with Apple as well ? Apple is saying April 2020 will be the deadline to support “Sign in with Apple ID". All apps with third party login will have this kind of login.

[2019-12-11 04:55] sethurv opened #241 "Angular Build Error"
I have tried to build the package with the help of the `Readme` document.

Following is the error observed. `The serve command requires to be run in an Angular project, but a project definition could not be found.`

I have tried with `node` version 10.12.0, 12.3.1 and 13.3.0.

1. Why `angular.json` file is not added in the repository
2. `@angular/cli` is not added in 'devDependencies'? When latest

[2019-12-18 04:07] henryyue2010 opened #242 "Any code sample to use this package?"
The demo page (https://abacritt.github.io/angularx-social-login/) works as I expected. Is it possible to see the code sample?

[2019-12-30 00:01] aplocher commented on #2
Has anyone gotten GitHub auth working with this library?  I'm also looking to add that to my project.  Thanks

[2019-12-30 16:32] jaibatrik commented on #242
They are there in the README document.

[2019-12-30 16:32] #242 closed

[2019-12-31 23:25] mickster04 commented on #230
https://console.developers.google.com/apis/credentials

Sounds like you either haven't set up creedentials, or you haven't added localhost:4200 to the list if Authorised redirect URIs

[2020-01-03 00:32] canerandagio1983 commented on #170
Delete google's cookie worked for me

[2020-01-06 21:54] henryyue2010 opened #243 "problem of displaying login dialog to confirm the user in demo"
I tried the demo (https://abacritt.github.io/angularx-social-login/) and found a problem. After signing out and trying to re-sign in, there is no login dialog to confirm the user any more. It goes directly to the page after login. That's for both google and facebook signin. Is there a way to always display the login dialog to confirm the user?

[2020-01-09 22:59] acanewby commented on #240
Yes - I've been thinking about this too.  In fact, I'm in a position where I could work on it.

Ideally, I'd like to write my own implementation first, by extending `BaseLoginProvider`.  Once I have something working, I'd be happy to contribute it back to the code base.  However, `BaseLoginProvider` isn't exported so I get the following error when I build:

`Module not found: Error: Can't resolve

[2020-01-15 19:42] b0lle commented on #208
same problem here

[2020-01-15 19:54] b0lle commented on #208
i had the same problem. check if the import of the module is correct.
this was wrong in app.module.ts:
`imports: [SocialLoginModule.forRoot(), ...]`
it has to be:
`imports: [SocialLoginModule, ...]`

[2020-01-17 15:20] jaibatrik commented on #2
This library does not support authentication using Github.

[2020-01-17 23:00] fundenys commented on #240
Hi,
You can do it but there are a problem: apple Callback the response with redirect_url.
You must have another Endpoint.
if you want try yourself some tips:
it was just to  test
copy googleLogin Provider and replace
declare let AppleID: any;

export class AppleLoginProvider extends BaseLoginProvider
.......
this.loadScript(AppleLoginProvider.PROVIDER_ID,
                'https://appleid.cdn-apple

[2020-01-23 11:41] clickyman1142 commented on #55
This issue not fixed yet :'(

[2020-01-26 04:03] deyvidfk commented on #241
@sethurv
In the project dependencies file "package.json" contains the key "**engines**" that specifies the version of the compatible nodejs.

[2020-01-26 04:05] deyvidfk commented on #241
@sethurv
The file "package.json" contains the key "engines" that specifies the version of the compatible node.

[2020-01-27 12:12] VGzsysadm opened #245 "Array for specific domain?"
Greetings.
The library support an array for validation only an specific domain?

https://developers.google.com/identity/protocols/OpenIDConnect#hd-param

hd | (Optional) | The hd (hosted domain) parameter streamlines the login process for               G Suite hosted accounts. By including the domain of the G Suite user (for example,               mycollege.edu), you can indicate that the account

[2020-01-27 12:23] VGzsysadm commented on #245
Sorry.

I found there's an option to achieve this:

const googleLoginOptions: LoginOpt = {
  scope: 'profile email',
hosted_domain in my case
};

Y really appreciate.

Thanks.

[2020-01-27 12:23] #245 closed

[2020-01-27 12:41] VGzsysadm opened #246 "Can hosted_domain support multiple domains / subdomains?"
Greetings

hosted_domain can support multiple domains?

const googleLoginOptions: LoginOpt = {
  hosted_domain: ''
};

Or per example *.domain.com

Thanks

[2020-01-27 15:28] BruneXX commented on #201
Hi guys, before report a new ticket I want to know if anyone has experienced this issue before:

[2020-01-29 06:37] jhenrich commented on #239
Got same, was blocked by uBlock. Origin. Check your browser extensions if anyone blocks your requests, its clearly on the client side

[2020-01-31 13:22] jaibatrik commented on #246
You need to check the documentation for Google's JS login library. We just call their methods passing the options.

[2020-01-31 13:22] #246 closed

[2020-01-31 13:26] jaibatrik commented on #243
Try `signOut(true)` in your code and see if you are getting desired behavior.

[2020-01-31 13:26] #243 closed

[2020-01-31 13:30] jaibatrik commented on #241
@sethurv Could you please elaborate on what you are trying to achieve?

If you are trying to build the library, the command is `npm run build`. This project is a standalone library and is not an Angular app, which is why `ng serve` will not work here. The demo application got moved to https://github.com/jaibatrik/angularx-social-login-demo.

[2020-02-02 18:44] BrianWClausen commented on #122
The solution proposed earlier in the thread didn't work for me. I have created a pull request #247 to resolve the issue.

[2020-02-03 03:15] sethurv commented on #241
@jaibatrik I was looking for the demo application. Thanks for the info.

[2020-02-03 03:15] #241 closed

[2020-02-06 06:23] jaibatrik commented on #240
Will close this when I release it to npm.

[2020-02-06 06:25] jaibatrik commented on #239
Closing this; appears to be not related to the library.

[2020-02-06 06:25] #239 closed

[2020-02-06 06:28] jaibatrik commented on #235
Closing this for now. Please reopen with a small reproduction sample.

@singhjolly Your domain needs to be whitelisted in Facebook app settings. Try searching the web with the error message.

[2020-02-06 06:28] #235 closed

[2020-02-06 06:30] jaibatrik commented on #230
Closing this; please reopen with a sample.

[2020-02-06 06:30] #230 closed

[2020-02-06 06:31] jaibatrik commented on #223
Closing; please reopen with a sample.

[2020-02-06 06:31] #223 closed

[2020-02-06 06:33] jaibatrik commented on #221
If there is a sample, I could try looking at it. Also, please let us know if you guys already figured it out.

[2020-02-06 06:42] jaibatrik commented on #183
@AndyHaas Closing this. I feel that this does not need to be part of the library because the use case is probably not that common.

However, a PR is welcome if it conforms to the current structure of the library. I'll be glad to discuss should you be interested to add the features.

[2020-02-06 06:42] #183 closed

[2020-02-07 04:43] bodinaren commented on #221
Isn't this just when you have not previously allowed the app? If in Facebook you remove the permissions for your app then I believe you will get the popup asking for permission next time.

[2020-02-11 12:33] azurehari opened #248 "How to trigger social login in current tab instead of new window?"
When i call the social login using angularx-social-login it will pop in new window.. i want to open it in current tab. could you please help me out?

[2020-02-12 20:50] romelgomez opened #249 "ERROR in Failed to find exported name of node"
When I started a migration of an angular app 8 to 9 following things to-do, this error raise:

https://update.angular.io/#8.0:9.0

[code]

[2020-02-12 22:04] romelgomez opened #250 "Remove the strict peerDependencies on @angular/core lib and RxJS"
**angularx-social-login** project set a strict peerDependencies on @angular/core lib and do not make use of nothing fancy that will hard change on the future, please remove this check because it's a common request and lock to update.

Uses of **@angular/core**:

`import { NgModule, ModuleWithProviders } from '@angular/core';`
https://github.com/abacritt/angularx-social-login/blob/master/src/lib/so

[2020-02-15 13:53] LeParadoxHD commented on #249
The problem is in Ivy, CommonModule is not longer necessary.

[2020-02-16 17:10] jaibatrik commented on #240
Well I checked the documentation for Apple sign in and it appears to need a server component; hence things like `getLoginStatus` will not work here. The Apple sign in will be beyond the scope of this library.

[2020-02-16 17:10] #240 closed

[2020-02-16 19:13] fundenys commented on #240
@jaibatrik
I m agree with you.
i said "You must have another Endpoint."
I do it only to help @stsness and @acanewby , for me, Apple signin isnt fully compatible with this component. No Thanks Apple.
For my case, it s ok cause, i send Google, FaceBook, Apple response to another Oauth service (uaa)
Have a Good Day

[2020-02-18 20:17] jamisonroberts commented on #250
I believe this is why I cannot use with Angular 9 project.

[2020-02-19 06:45] jaibatrik commented on #250
If I understand correctly, it is the version mentioned in the peer dependency which you guys are pointing to; isn't it?

[2020-02-19 07:26] romelgomez commented on #250
Hi @jaibatrik

Yes,

https://github.com/abacritt/angularx-social-login/blob/master/package.json#L58

removing peerDependencies declaration resolve the issue.

https://nodejs.org/es/blog/npm/peer-dependencies/

[code]

The methods that are being used by this project are the same code from the old versions and it will not change with an decrepation note set for a long time in future versions.

[2020-02-19 17:33] romelgomez commented on #250
Also I wanna reference other project that had the same issue, and solved it in this way:

https://github.com/livechat/angular-livechat/issues/25

https://github.com/livechat/angular-livechat/blob/master/package.json#L20

[code]

runing `ng update @angular/core @angular/cli`  raise this errros:

[code]

As I mention in the other issue:

Is not required mention peer dependency that a least you or we

[2020-02-19 20:58] Fanksies commented on #248
Also looking for this. Can anyone please point us in the right direction? thanks in advance.

[2020-02-25 19:38] medmelek opened #251 "instagram"
can i use this package with instagram auth ?

[2020-02-26 13:20] IhorVimmi opened #252 "Facebook sign-in"
Doesnt work facebook login

http://joxi.ru/DmBl0VyuJZ0O1A

[2020-02-28 10:38] dillibk777 opened #253 "gmail signout issue"
i've called` this.authService.signOut();` method but still im able to get the user details, it getting logged out after calling one more time.

[2020-03-06 13:06] jerintk commented on #67
**Not a solution**, but if you guys just want to evade from the exception, use an error handler and handle it your own way, based on your logic.

For more about error handlers: https://medium.com/angular-in-depth/expecting-the-unexpected-best-practices-for-error-handling-in-angular-21c3662ef9e4

Mine was not a complex project. So here is what I have done.

- **global-error-handler.ts**
[code]

- *

[2020-03-08 07:18] davidHaunschmied opened #255 "Angular 9 support"
Hello!
angularx-social-login is an useful and easy-to-use tool! Thanks for maintaining this great OS project.
Unfortunately, it seems Angular 9 is not supported yet. Would be great if you guys could do that!

Thanks,
David

[2020-03-08 16:25] webkhushboo commented on #97
I tried using it , Its not working for me . Its giving error Cannot read property 'then' of undefined
    at Object.authorize (in.js:18)

[2020-03-14 14:40] jaibatrik commented on #255
On it.

[2020-03-14 14:57] jaibatrik commented on #253
Try passing `true` to `signOut` method.

Please share a simple sample while re-opening.

[2020-03-14 14:57] #253 closed

[2020-03-14 14:58] jaibatrik commented on #252
Kindly share a simple sample.

[2020-03-14 15:00] jaibatrik commented on #251
Instagram uses OAuth for authentication. You won't be able to use this with Instagram auth.

[2020-03-14 15:00] #251 closed

[2020-03-14 15:19] IhorVimmi commented on #252
@jaibatrik try it in Opera Browser

[2020-03-14 16:15] jaibatrik commented on #255
Facing some problem related to Ivy. Not sure if this can be readily be updated.

[2020-03-15 20:40] AbdulYKI opened #257 "Google Scopes"
Hi guys,
I know you guys worked hard on this package and it is much appreciated, but I want to use it for google logins, and I specified a scope for birthdate and some others maybe in the future in the LogOpt object I have,just like you put it in the example, but the SocialUser object that returns doesn't have that extra info I wanted by adding the scope, could you please tell me how to get to tha

[2020-03-15 22:26] faosl opened #258 "Receive null for user on the authState subscribe after refresh browser"
Hi, I'm receive null for user on the authState subscribe after signIn successfully and then refresh browser. I believe that it not suposed to be happend because the user don't request signOut.

[2020-03-16 09:29] dontsu commented on #258
It is your application that has to handle the token and store it in cookies or somehow. This module just does the communication between your app and FB, nothing more.

[2020-03-16 13:18] faosl commented on #258
Thanks @dontsu

[2020-03-16 13:18] #258 closed

[2020-03-16 13:28] faosl opened #259 "How to getting birthday from method SignIn of GoogleLoginProvider?"
Hi, I'm currently passing https://www.googleapis.com/auth/user.birthday.read into the scope property of LoginOpt but I didn't find a way to recorvery birthday even user acept it, how could I do that?

[2020-03-18 14:07] jasmeetappinventiv commented on #255
@jaibatrik any update on this?

[2020-03-18 21:44] fatihyildizhan commented on #221
@henryyue2010 Could you solve the asking custom scope issue? I am facing the same issue now.

[2020-03-21 21:10] gianlucainnocente commented on #255
Same problem here

[2020-03-27 10:08] grudus opened #260 "Slow network & fast user problem: Cannot read property 'signIn' of undefined"
Hi!
I've found an error: when `AuthService.signIn` is called, but the login provider script is not loaded yet (e.g. slow network), the TypeError is thrown (because `_this.auth2` is not initialized at the moment):
![obraz](https://user-images.githubusercontent.com/18220458/77744911-a94bd000-701a-11ea-9385-786aaa2d9146.png)

The possible solution is to add some kind of `isReady()` function to check

[2020-03-27 15:58] tcd commented on #255
@jaibatrik What seems to be the issue?

[2020-04-03 08:25] logicappsource opened #261 "Facebook + gmail popup is blocked on mobile browser safari"
Desktop browser the user can enable the popup to be displayed. But on mobile safari

[2020-04-06 05:02] jaibatrik commented on #255
I am actually trying to follow the official guide to create libraries at https://angular.io/guide/creating-libraries which means many things have to be changed now. Also, not getting time from all the chores we have to do currently. Hoping to migrate the structure this week though.

[2020-04-09 06:09] petermarikit3QDigital opened #262 "Angular 9: "ng build --prod" ERROR"
It seems like on Angular v9.0.7, running `ng build --prod` with **angularx-social-login v2.2.1** produces the following error:

92% chunk asset optimization LicenseWebpackPluginAn unhandled exception occurred: EISDIR: illegal operation on a directory, read

A temporary fix for this problem was to downgrade angular to **v8.2.14**, which required some parts of the angular application to be regressed

[2020-04-10 12:23] gitalvininfo commented on #261
Any updates with this? I'm having the same issue. When I try to click the link of the app in fb browser, the fb dialog login is block.
I already tried to debug it using chrome developer tools remote device however no error is shown.

[2020-04-11 06:59] jaibatrik commented on #255
I am actually trying to follow the official guide to create libraries at https://angular.io/guide/creating-libraries which means many things have to be changed now. Also, not getting time from all the chores we have to do currently. Hoping to migrate the structure this week though.

[2020-04-11 08:00] RMarjanovic commented on #248
Following! This is also interesting from my point of view!

[2020-04-12 16:13] jaibatrik commented on #255
Update: I followed the library guide and was able to make it work. I just have to test it a bit a more and publish to npm. Hoping to do it in 2-3 days.

[2020-04-15 13:39] meghansh36 commented on #262
Does disabling Ivy help? I was able to make my project work by disabling Ivy, I don't know if it will work during build mode or not but you can try

[2020-04-15 14:09] gitalvininfo commented on #261
@logicappsource does it only block in mobile safari browser? Other browsers does work in you ? Mine all browsers blocks the popup dialog of fb login

[2020-04-15 14:11] gitalvininfo commented on #248
Does any one of you guys experiencing the fb dialog is block when you open the link of your app in fb browser?

[2020-04-17 19:55] petermarikit3QDigital commented on #262
@meghansh36 I havent tried disabling Ivy to fix the issue. I will keep this in mind and try it out when I have time, thanks!

[2020-04-17 19:55] #262 closed

[2020-04-19 14:39] jaibatrik commented on #255
I just published the changes to npm. Can you guys please check. It worked okay in local, and also appears to work on the demo site.

[2020-04-19 14:39] #255 closed

[2020-04-19 14:40] jaibatrik commented on #255
The table for compatibility is still not addressed though :(

[2020-04-20 06:07] namanjainsmtgroup commented on #13
Hi,

Please use this
signOut(): void { this.authService.signOut(true); }

[2020-04-20 06:32] namanjainsmtgroup commented on #110
Use this

signout(){
this.authService.signOut(**true**);
sessionstorage.clear();
}

[2020-04-21 12:32] jaibatrik commented on #250
Decided to keep the peer dependencies. Peer dependencies just show an warning. They have nothing to do with actual code or the compatibility of the library with Angular versions. I have recently updated the library to be supported for Angular 9; it also uses Angular official docs recommended project structure now.

That being said, I still think that a compatibility table showing the compatibility

[2020-04-21 12:41] jaibatrik commented on #252
Opera desktop or Opera mobile? If mobile, which OS?

[2020-04-21 12:42] jaibatrik commented on #252
Okay, Opera Windows looks like from your screenshot.

[2020-04-21 13:11] jaibatrik commented on #252
Worked quite well for me - [screenshot](https://ibb.co/tzf70j2).

[2020-04-21 13:11] #252 closed

[2020-04-22 06:34] gitalvininfo opened #263 "Facebook login is blocked in FB mobile browser"
I've been experiencing a weird bug wherein the Facebook login dialog is block every time I click on the facebook login button using the fb mobile browser.

The scenario is, I open facebook app in mobile then click on the app link then it redirects me to the login page and I click on the facebook login button the dialog loads for a while then it closes. However, if I use desktop browser there is no

[2020-04-22 20:47] Bcamargoz opened #264 "Login with Linkedin"
Hi, I would like to know how to extend the library to other services and if it is possible to use this library to also login with Linkedin?

[2020-04-23 04:31] gitalvininfo commented on #263
Anyone experiencing with this kind of issue same as mine ?

[2020-04-24 15:14] NishanAdelanka commented on #261
If the popup blocker turned on It blocks on both iOS and Android browsers.

[2020-04-24 15:20] NishanAdelanka commented on #263
make sure the mobile browser's popup blocker is turned off

[2020-04-24 16:20] gitalvininfo commented on #263
im not using the browser like chrome firefox or edge in mobile. im using the in-app  facebook mobile browser to open my app.

[2020-04-25 08:48] jaibatrik commented on #263
Please check how Facebook suggests handling it. This library just delegates the login functionality to Facebook's authentication JS library.

[2020-04-25 08:49] jaibatrik commented on #264
This library cannot be used with any provider that uses OAuth for authentication. This library's purpose is to get some user data at client side.

[2020-04-25 08:49] #264 closed

[2020-04-25 08:51] jaibatrik commented on #248
Please check how Facebook suggests handling it. This library just delegates the login functionality to Facebook's authentication JS library.

[2020-04-25 08:55] jaibatrik commented on #259
Feature not available in the library. Consider submitting a PR to add this.

[2020-04-25 08:56] jaibatrik commented on #257
Closing this, will track the issue via #259

[2020-04-25 08:56] #257 closed

[2020-04-25 08:58] jaibatrik commented on #249
Added Angular 9 support recently. Closing this. Check usage in the app section of the repository.

[2020-04-25 08:58] #249 closed

[2020-04-25 13:55] jaibatrik commented on #122
Closed via #122.

[2020-04-25 13:55] #122 closed

[2020-04-25 13:59] jaibatrik commented on #142
This has been added now under "Specifying custom scope" heading in the README.

[2020-04-25 13:59] #142 closed

[2020-04-25 14:02] jaibatrik commented on #167
Looks like this has been addressed. Reopen if it does not work still.

[2020-04-25 14:02] #167 closed

[2020-04-25 14:05] jaibatrik commented on #203
Closing due to inactivity. Also, not likely an issue with the library, but with Google's SDK.

[2020-04-25 14:05] #203 closed

[2020-04-25 14:58] jaibatrik commented on #260
Hi, angular4-social-login is deprecated. Could you try using [angularx-social-login](https://www.npmjs.com/package/angularx-social-login) and check?

[2020-04-28 07:49] piotrsikorski6 opened #265 "Problem with redirect_uti, spring boot"
Hi,

I have the question regarding to redirect uri.

I added it to angular configuration file:

[code]

And that same redirect uri I put into yaml file on backend. With another library - f.e. react social login - it is working properly. With angular - I have positive feedback from google but redirect is not working.

Anybody has a similar issue?

Kind regards

[2020-05-01 12:14] zaid4kspr commented on #150
i think you can make a  clickLogin = false; then when you user click login via google or facebook make it  this.clickLogin = true
and  when subscribe test so if he didn't click the button yet nothing will happen
    this.authService.authState.subscribe((user) => {
      if (this.clickLogin) {
        this.loginViaSocial(user) // call you back-end api
      }
    }, catcherror => this.catcherror =

[2020-05-03 13:07] Harikabzw opened #266 "An accessor cannot be declared in an ambient context."
I am trying to use angularx-social login in my angular7 project .I am using lazy loading . while running server I am getting the below error.

ERROR in node_modules/angularx-social-login/auth.service.d.ts(52,9): error TS108
6: An accessor cannot be declared in an ambient context.
node_modules/angularx-social-login/auth.service.d.ts(54,9): error TS1086: An acc
essor cannot be declared in an ambient

[2020-05-03 13:56] josee666 commented on #263
Maybe same problem here... FB auth doesn't work but only on some iphone. The user clic and i does nothing... It work fine on chrome (PC and mobile) but doens't work on iphone. I am not able to see the debug message on the iphone, i don't have a mac...
here the code:
 ngOnInit() {
    this.authService.authState.subscribe(
      (user) => {
      this.user = user;
      this.loggedIn = (user != null

[2020-05-03 14:37] ursedaniel commented on #266
i also have this issue...

[2020-05-04 04:08] Dsantacruz commented on #266
I've

[2020-05-04 17:55] ImFranQ commented on #266
Your module is imported in the app.module.ts?

Remove your Facebook ID and Google ID. Is not necesary.

[2020-05-05 15:48] FatManiac commented on #266
I imported AuthService in app.module.ts, the error persist

[2020-05-06 08:26] shehantissera opened #267 "AuthState goes away on refresh. Any configuration to keep the signed in user signed?"
Once the user logs in, everything works perfectly. But if the user refreshes the page the entire state goes away and the user needs to login again. Is there a configuration to prevent this happening and to keep the user logged in until the token is expired?

[2020-05-06 08:34] #267 closed

[2020-05-06 12:35] bkarv commented on #266
Same problem here in my Angular 8 project.

[2020-05-06 12:59] ImFranQ commented on #266
upgrade to angular 9
`ng update @angular/cli @angular/core`
or downgrade a version. it's work for me.

[2020-05-06 13:24] bkarv commented on #215
Hi everyone, did you find a solution in the end?

[2020-05-06 16:53] razinj commented on #266
@ImFranQ what version did you downgrade to ?
Thanks in advance.

[2020-05-08 12:57] Glangouet opened #268 "PWA compatibility"
Hello,
facebook and google popup do not redirect to the pwa.
Do you have any recommendations to make it work?
Thx

[2020-05-09 16:18] jaibatrik commented on #266
Need to create a version compatibility table.

[2020-05-09 16:33] jaibatrik commented on #265
@piotrsikorski6 This library does not handle OAuth for now. But I'll have a look.

[2020-05-09 16:39] jaibatrik commented on #150
I'll be closing this issue for now. I think the auto-login is the intended behavior for most of the scenarios. We can revisit this if more issues come up.

[2020-05-09 16:39] #150 closed

[2020-05-10 08:00] ARandomUserN opened #269 "Error: "inject() must be called from an injection context""
I have installed the angularx-social-login library and following dependencies:
-tslint
-@angular/code
-@angular/common
-rxjs
Then followed ReadMe instructions but I have "Error: Inject() must be called from an injection context".
I have tried adding "preserveSymlinks":true in angular.json file, but it didn't work.

[2020-05-10 08:54] ARandomUserN commented on #269
Is this library compatible with Ivy?

![image](https://user-images.githubusercontent.com/65108613/81494897-8ca6e700-92ac-11ea-81ab-82b57366d02f.png)

[2020-05-10 08:58] #269 closed

[2020-05-10 08:58] ARandomUserN commented on #269
I have found that I made mistake in imports.

[2020-05-11 09:44] singhaishwarya commented on #266
I downgraded it to @2.2.1...it worked for me.

[2020-05-14 07:48] jaibatrik commented on #221
I think we will disable the auto-login feature by default. Anyone requesting auto-login will need to manually call `authService.getLoginStatus(providerId)` (to be introduced) or pass a flag with `AuthServiceConfig` to enable auto-login. This behavior has been a constant stream of issues so far.

I'll create a PR this weekend.

[2020-05-14 07:49] jaibatrik commented on #261
Let's track this with #248

[2020-05-14 07:49] #261 closed

[2020-05-14 07:50] jaibatrik commented on #263
Let's track this with #248.

[2020-05-14 07:50] #263 closed

[2020-05-14 07:51] jaibatrik commented on #265
The problem is with popups I think, and we need to find a way to use the redirect method of authentication. Let's track this with #248.

[2020-05-14 07:51] #265 closed

[2020-05-16 16:23] digovc commented on #215
Up.

[2020-05-19 00:54] ewwwgiddings opened #270 "Reset Facebook auth_type Option"
Does anyone know how to change the auth_type after it's initialized in the app.module?

I need to be able to set this option dynamically based on certain responses from the server.

Any help?

[2020-05-19 01:28] ewwwgiddings commented on #270
I've tried passing in the right options to make it happen like this:
`this.socialAuthService.signIn(FacebookLoginProvider.PROVIDER_ID, this.fbLoginOptions)`

But the auth_state option has no effect on what happens.

[2020-05-19 01:30] ewwwgiddings commented on #270
I'm attempting to re-ask for permissions as mentioned here:
https://developers.facebook.com/docs/facebook-login/web/permissions/#re-asking-declined-permissions

[2020-05-19 01:33] ewwwgiddings commented on #270
Of note is that it does work if I initialize it with this value in the app.module but not if I reset it dynamically or in the component I need it in.

[2020-05-19 13:03] sajjadjutt4u commented on #97
It's giving me Error on IN. Cannot find name IN TS2304

[2020-05-19 13:05] sajjadjutt4u commented on #97
@shakalya195 Please help me in this regard

[2020-05-19 13:06] sajjadjutt4u commented on #97
![image](https://user-images.githubusercontent.com/43935954/82329876-6ba46b80-99fb-11ea-9114-265e8b5c799f.png)

facing this error. because IN is not defined @shakalya195  @webkhushboo

[2020-05-20 08:00] yashpalsingh11 commented on #266
I also downgraded it to @2.2.1. It also worked for me. Thanks

[2020-05-23 13:47] rajibhalder commented on #266
I also downgraded it to @2.2.1 for Angular 8 (npm install --save angularx-social-login@2.2.1) . It also worked for me. Thanks

[2020-05-23 20:20] niraz100 commented on #13
if you guys still suffering from this issue this code may help you its work for me

facebookUser;
  signOut() {
    this.authService.authState.subscribe((user) => {
      this.facebookUser = user;
      if (this.facebookUser) {
        this.fbsignOut();
      }
    });
}
fbsignOut(): void {
    this.authService.signOut(true);
    return;
  }

[2020-05-24 11:39] jaibatrik commented on #97
LinkedIn login is not supported any more.

[2020-05-24 12:23] sajjadjutt4u commented on #97
Another way to integrate LinkedIn login?

On Sun, 24 May 2020, 4:39 PM Jaibatrik Dutta, <notifications@github.com>
wrote:

[2020-05-29 13:42] xtianus79 opened #271 "How can I know if I a user is logged in? Is there access to FB.getLoginStatus()"
What is the mechanism I already know the user is logged into the service? What can I acquire like the FB.getLoginStatus() to know this. Can you give an example?

[2020-05-31 01:42] darkedges opened #272 "unable to create a new LoginProvider"
[code]
returns
[code]

[2020-06-01 07:13] jaibatrik commented on #271
When the library initializes, it calls `FB.getLoginStatus()` for you. If an user is returned from the `FB` API, it does a `next` to the `authState` with the user data; so, if you have subscribed to `authState`, you get the user information in your subscriber. There is no way of manually triggering this though at this moment. Does this answer you question?

PS - I am currently in the process of ref

[2020-06-01 12:15] afgonzal opened #274 "Add expiration to User entity"
Need to retrieve expiration attribute and store it inside the User to validate when the token has expired.

[2020-06-01 12:20] afgonzal commented on #274
Already have change for this, just 3 lines of code

[2020-06-01 13:24] jaibatrik commented on #274
You can raise a PR, we can discuss if the changes fit this library there.

[2020-06-02 19:04] afgonzal commented on #274
don't have permissions to push, how to I get contributor role?

[2020-06-03 03:48] jaibatrik commented on #274
May be you can post the change here in the issue.

[2020-06-03 05:44] xtianus79 commented on #271
Thanks for the reply.  I think I can get what I need from the cookie. I will start another post which should help me better.

[2020-06-03 05:53] xtianus79 opened #275 "Is response type able to handle settings to activate code and token. Upon login I notice something weird."
I included the documentation from facebook below.

So the problem right now I am relying on Facebook's cookie to give me response of the user login. I can very whether they are logged in or not by that cookie.

The problem with the initial response is that it doesn't have the access token, not at first anyway.  If I refresh it comes right away and i've let my computer go to sleep overtime and I no

[2020-06-04 10:02] jaibatrik commented on #270
Try passing the parameters as part of the `FacebookLoginProvider` constructor. There might be a bug with `signIn` function.

[2020-06-04 12:32] jaibatrik commented on #270
Yeah, will fix it shortly.

[2020-06-04 12:35] jaibatrik commented on #275
This library is a wrapper around Facebook's JS authentication library - https://developers.facebook.com/docs/facebook-login/web/

You can check their documentation to see if passing any parameter solves your problem.

As of now, I am closing this issue because I feel there's nothing this library can do apart from passing parameters you pass to us to Facebook. Feel free to reopen if that is not the

[2020-06-04 12:35] #275 closed

[2020-06-04 12:38] jaibatrik commented on #271
Keeping this open; providing a `getLoginStatus()` to manually get the login status might be useful if we disable auto-login by default.

[2020-06-04 14:54] ewwwgiddings commented on #270
Yea, I had to do some rather complicated function to change it.

    for (const [index, element] of this.config.providers.entries()) {
      console.log(index, element);
      if (index === 'FACEBOOK') {
        // tslint:disable-next-line:no-string-literal
        element['opt']['auth_type'] = 'reauthorize';
      }
    }

So you will be allowing this to be passed into the `signIn` function soon?

[2020-06-04 18:27] afgonzal commented on #274
Hi

in the google-login-provider.ts
I add this line twice (at getLoginStatus and signIn methods)
**let expiration = this.auth2.currentUser.get().getAuthResponse(true).expires_at;**

and in user.ts, I added a property to SocialUser,
**expiration: number;**

I can checkout the fb login, to see if has expiration, and keep consitency.

regards

[2020-06-07 06:13] jaibatrik commented on #175
Changing this in the latest release.

[2020-06-07 20:43] cirix opened #276 "Strange access on provider during init config"
Dear all,
the setup of AuthServiceConfig is successful, but when trying to load the auth service after init it we have error due to non correct access on the config object. See screens bellow.
![google_chrome_logs](https://user-images.githubusercontent.com/924122/83979844-8c345700-a911-11ea-8e4b-f2803ea6f414.png)

![config_array](https://user-images.githubusercontent.com/924122/83979643-2d221280-a

[2020-06-07 21:01] cirix commented on #276
I fixed the issue myself. on the providers I pass a lamda and works like a charm. Some init error on my side.

[2020-06-07 21:01] #276 closed

[2020-06-08 13:12] wellingtonfoz opened #277 "Is there any other providers? Like Instagram, LinkedIn...?"
Hi,

Is there any other providers? Like Instagram, LinkedIn...?

[2020-06-08 14:29] anushreenk commented on #277
Same question from me what are the different logins we can accomplish with this component other than google and facebook?

[2020-06-11 11:15] seaver-choy commented on #248
Hi all.

Had this bug for a few days now. Here's what basically happens during the entire login process:

When FB Mobile Browser is used, the browser already acknowledges that the user has logged in. When FB.login is called, nothing happens. What needs to be done is the use the current accessToken and loggedIn userID to fetch the user's details and then pass it on wherever necessary.

`signInWithF

[2020-06-12 08:17] jaibatrik commented on #134
@Brijeshlakkad Have you tried searching in Google / StackOverflow with this problem. Generally, this library is just a wrapper around FB's library and populate whatever email value FB is sending as response.

[2020-06-12 08:21] jaibatrik commented on #277
There will be an provider for Amazon shortly. You can also create your own provider and plugin to the library. Since LinkedIn moved to OAuth, we dropped support for them; but we are now considering if some OAuth based libraries can be supported. Not sure if it will need any major design change.

[2020-06-12 08:21] #277 closed

[2020-06-12 08:25] jaibatrik commented on #274
I think the changes look good. You can submit a PR. Check if FB supports it. The expiration field in `SocialUser` will probably need to be optional.

[2020-06-12 08:30] jaibatrik commented on #270
Yeah, the new version is almost ready. I'll probably be releasing it to npm today itself. But version 3.0.0 will actually not be backward compatible. The `AuthService` class is totally refactored and renamed. I don't think I'll keep maintaining 2.x versions in separate branch. Migrating will probably not be too much of work though.

[2020-06-12 15:17] ewwwgiddings commented on #270
By backward compatible you mean it'll only work with Angular 9? Makes sense. Ivy as a default has done that to a lot of libraries it seems.

That's a good decision to rename it. That way it doesn't conflict with the common AuthService name people use for the app's auth service.

Thanks for fixing it and the library :)

[2020-06-14 06:36] mletynski opened #278 "Facebook: caching of email/phone"
1. Go to https://abacritt.github.io/angularx-social-login/
2. Login with your fb email/password
3. Click sign out
4. Login but this time make typo in email and put proper password
5. You are successfully logged in

This dialog is somehow caching proper email/phone. Any hint how to fix this ?

[2020-06-14 12:15] jaibatrik commented on #266
Added the information in CHANGELOG.

[2020-06-14 12:15] #266 closed

[2020-06-14 12:16] jaibatrik commented on #270
Just published the new version in npm. Closing this issue. Thanks for reporting!

[2020-06-14 12:16] #270 closed

[2020-06-14 13:30] jaibatrik commented on #278
This appears to be how Facebook login behaves, not an issue with the library.

https://security.stackexchange.com/questions/214814/why-can-i-log-in-to-my-facebook-account-with-a-misspelled-email-password
https://www.howtogeek.com/402761/facebook-fudges-your-password-for-your-convenience/

[2020-06-14 13:30] #278 closed

[2020-06-14 14:32] jaibatrik commented on #250
Updated the README.

[2020-06-14 14:32] #250 closed

[2020-06-14 14:33] jaibatrik commented on #268
Tracked via #248

[2020-06-14 14:33] #268 closed

[2020-06-15 05:55] jaibatrik commented on #274
Also, there is an object called `google` in `SocialUser`. Check if the birthday comes up inside that object.

[2020-06-16 08:44] RonRofe opened #280 "Error: Login providers not ready yet"
![צילום מסך 2020-06-16 ב-11 44 41](https://user-images.githubusercontent.com/30625668/84752727-cd3e0280-afc6-11ea-99cf-3395d2065af0.png)

I get the following error when trying to perform
[code]

app.module.ts
[code]

Angular version: 9
"angularx-social-login": "^3.0.0",

[2020-06-16 23:30] videmort commented on #280
Same here

[2020-06-17 05:06] sufiiiyan commented on #280
Facing same issue
![image](https://user-images.githubusercontent.com/12623084/84857249-3a649d00-b086-11ea-8dea-086e46beaa43.png)

[2020-06-17 06:35] jaibatrik commented on #280
Looking into this.

[2020-06-17 06:56] jaibatrik commented on #280
I tried to reproduce this, and could not. It worked for me. Could you guys provide me with a small replication repo / codebase / sample?

Also, I can see from @sufiiiyan's screenshot that the Facebook and Google JS did not get loaded, which is probably the reason for this issue. Can you please check why this is the case?

[2020-06-17 07:01] jaibatrik commented on #280
Are all of you trying to call `signIn` in `ngOnInit`? To think of it, that might cause problems.

Want to ask out of curiosity, what is the use case for calling `signIn` in the component load itself?

[2020-06-17 08:12] RonRofe commented on #280
My particular use case was only to test it. But I think it should be fixed since it should be working on all cases.
But yes, indeed the issue raises only when using it inside ngOnInit().

Lets take for example a case when a user clicks a button "login with facebook" which opens a new dialog components with the content: 'Login with facebook, please wait..." - Now you want to start the process in ng

[2020-06-17 09:04] RonRofe commented on #280
Do you also know how to verify the auth token on the backend? Which ENDPOINT should be used for this?

[2020-06-17 10:28] JussV commented on #280
Facing the same issue with Angular 9 and version 3.0.0 of angularx-social-login.
Google and fb scripts are loaded correctly as you can see from the screenshot.
<img width="1790" alt="Screen Shot 2020-06-17 at 12 26 18" src="https://user-images.githubusercontent.com/6590253/84887311-d9dd5c00-b095-11ea-90fe-1fedb9c8845c.png">
<img width="804" alt="Screen Shot 2020-06-17 at 12 26 30" src="https://use

[2020-06-17 12:50] afgonzal commented on #274
still no permissions to push branch.
I checked FB and :
at facebook-login-provider.ts add these lines to  getLoginStatus and signIn methods
**user.expiration = Date.now() + authResponse.expiresIn;**

[2020-06-18 08:23] jaibatrik commented on #274
I'll take care of it then. Meanwhile you can fork the repository and build the library and use temporarily.

[2020-06-18 08:44] jaibatrik commented on #280
@JussV Thanks for the helpful analysis. I guess `SocialAithService.initialize()` should use `Promise.allSettled` or `Promise.finally` instead of `Promise.all`.

The `GoogleLoginProvider` is indeed resolving in the following block -
[code]

[2020-06-19 04:38] jaibatrik commented on #280
At this point, I am not making any change for the scenario where `signIn` is being called on `onInit`. I'll probably change the message to be a bit more informative. I'll also change the `initialize` functions in `SocialAuthService` and providers to have proper error propagation.

However, if others are not calling `signIn` on `onInit`, I'd like to look at those scenarios. Can any of you please pr

[2020-06-19 09:30] JussV commented on #280
@jaibatrik for the case of Google provider it does not go in resolve() or reject() blocks. While I was debbuging I noticed that strange behavior that after invoking ```
gapi.auth2.init(Object.assign(Object.assign({}, this.initOptions), { client_id: this.clientId }));
[code]

[2020-06-21 03:52] anirudh54 commented on #280
facing the same issue guys and i am not using signin on init.

[2020-06-21 04:33] jaibatrik commented on #280
Can any of you provide a simple repo where I can see the issue in action? It's working for me, it's working in the demo app in this repository.

[2020-06-21 06:20] #175 closed

[2020-06-21 06:32] jaibatrik commented on #280
@JussV According to the documentation at https://developers.google.com/identity/sign-in/web/reference, the `resolve` should get called when the `init(params)` is done initializing. May be there's some problem in this initialization?

[2020-06-21 06:36] jaibatrik commented on #280
Also, since the demo app in this repo is working, could you guys check if there's any difference in the implementation that might be causing the problem?

[2020-06-21 07:01] jaibatrik commented on #35
Closing this for now due to inactivity.

[2020-06-21 07:01] #35 closed

[2020-06-22 05:42] jaibatrik commented on #201
Keeping open for now. Has PR.

[2020-06-22 05:43] jaibatrik commented on #231
Added CHANGELOG from v3.

[2020-06-22 05:43] #231 closed

[2020-06-22 05:44] jaibatrik commented on #148
I think this has been taken care of in new version, also closing due to inactivity.

[2020-06-22 05:44] #148 closed

[2020-06-22 05:48] jaibatrik commented on #164
There's a new flag introduced `autoLogin` in `SocialAuthService`. That should prevent automatic sign ins.

Other than that closing for now. Logging in with multiple provider is not a very common use case IMO.

[2020-06-22 05:48] #164 closed

[2020-06-22 08:02] dbmuller commented on #280
This demo page has the same error when attempting sign in on all platforms
https://abacritt.github.io/angularx-social-login/

![image](https://user-images.githubusercontent.com/18412052/85263424-7ea2d380-b4b2-11ea-91cc-fd3df6e8d447.png)

[2020-06-22 10:53] jaibatrik commented on #280
This is strange. I can use the demo site and login with FB without any problem. Is the problem specific to environment then? Works in Chrome and Firefox for me.

![image](https://user-images.githubusercontent.com/1858403/85279572-472d2a80-b4a4-11ea-9c54-3898af2ed967.png)

[2020-06-22 10:54] jaibatrik commented on #280
@dbmuller Could you please post screenshot of the whole console with all logging levels on?

[2020-06-22 11:10] dbmuller commented on #280
@jaibatrik yes sure can.  So there's no cache to worry about, I'm new to this package and it was broken first load.  I ctrl+F5 anyway just in case.
This is in Chrome 83.0.4103.106 (Official Build) (64-bit)

I opened it in Edge and IE 11 and it worked.

Attached is the Console Log plus screen shot.
[abacritt.github.io-1592823823947.log](https://github.com/abacritt/angularx-social-login/files/481280

[2020-06-22 11:53] jaibatrik commented on #280
Looks like in @dbmuller's case, the error is coming because Facebook JS SDK not getting loaded. At the top of the console, we see `net::ERR_BLOCKED_BY_CLIENT` for https://connect.facebook.net/en_US/sdk.js

So far, we have seen multiple causes for this -
1. Calling `signIn` in component load itself - not fixing it right away, probably not that popular use-case.
1. Google's library not invoking call

[2020-06-23 01:55] dbmuller commented on #280
I enabled scripts from Facebook and that fixed it.  Just to confirm, blocking Facebook breaks log in to any services.

[2020-06-23 04:43] jaibatrik commented on #280
Thanks! Yeah, have to fix this single point of failure.

[2020-06-23 17:31] EdwardSin commented on #280
I was facing this issue.
Just to make sure that all of the provided providers details are able to do the login.
It might be not include the URL in provider whitelist, or the provider details is incorrect.
Any of them is failed then will lead to the "Login providers not ready yet" error.

[2020-06-23 19:07] jaibatrik commented on #280
Need a better error reporting. I should be able to make the changes by this weekend. Thanks everyone for your help!

[2020-06-23 22:54] veteran1 commented on #280
had the same probleme, when I opened my application in uncognito tab it worked, try to do a hard refresh (alt+f5 wont work)

[img](https://i.stack.imgur.com/4xfwi.png "hard refresh")

[2020-06-24 03:01] JGMAGNO commented on #271
Hello how was it? is getLoginStatus() available now?

[2020-06-24 12:59] jaibatrik commented on #259
Let's keep this open; will dump rest of the properties in some other object.

[2020-06-24 13:01] jaibatrik commented on #271
Sorry, haven't been able to decide on the signature of the method till now. Will work on it.

[2020-06-25 11:28] ShahoG commented on #107
This would certainly make sense to have, especially for use with AWS

[2020-06-25 18:06] arun-s-aot commented on #248
I am also facing the same issue with google login . On googling found a solution to add an option while calling socialAuthService.signIn(GoogleLoginProvider.PROVIDER_ID,options) method where options ={ux_mode: "redirect"} . Before performing login operation , we will have to provide redirect uri in google developer console as our current page (ex : http://localhost:4200 ) . I tried login after add

[2020-06-28 08:30] #6 closed

[2020-06-28 08:30] #74 closed

[2020-06-28 08:30] #208 closed

[2020-06-28 08:30] #67 closed

[2020-06-28 15:13] mgonzaga1990 opened #281 "The method FB.login can no longer be called from http pages."
I'm getting the error

**The method FB.login can no longer be called from http pages. https://developers.facebook.com/blog/post/2018/06/08/enforce-https-facebook-login/**

I just follow the basic implementation of the library.

![image](https://user-images.githubusercontent.com/21145779/85951279-b7e8b100-b994-11ea-85a4-9573052a153d.png)

![image](https://user-images.githubusercontent.com/21145779/

[2020-06-29 11:41] Blucbo commented on #280
same issue with google

[2020-06-29 14:00] jaibatrik commented on #281
I think you should be able to resolve the issue by following this - https://stackoverflow.com/a/55938978/1086930

[2020-06-29 14:00] #281 closed

[2020-06-29 23:05] LeeiinadBr commented on #280
For those who are trying to `signIn` on component load, you might as well set `autoLogin: true` in `SocialAuthServiceConfig`.

In case you need another solution, though, I came up with a workaround. However, I highly discourage using it, as it modifies original code (and the implementation is very poor, as I'm new to creating Observables - probably not the best solution anyways). It essentially cr

[2020-06-30 16:49] ninilo97 commented on #237
This worked for me. Not sure if it's a solution.
[code]

[2020-07-01 05:08] jaibatrik commented on #280
@LeeiinadBr Thanks for pointing out the workaround! I'll add a method to indicate the initialization status.

[2020-07-01 07:57] gitalvininfo commented on #263
Hi. finally solved the problem.

Here is the my code for facebook login

`constructor() {
      this.authService.authState.subscribe((res) => {
			this.loggedIn = (res != null);
      });
}`

`signInWithFB() {
		if (this.loggedIn) {
			this.authService.authState.subscribe((res) => {
				this.loginUserFBMethod(res);
				return false;
			});

		} else {
			this.authService.signIn(FacebookLoginProvid

[2020-07-01 15:01] ktezi opened #282 "AuthServiceConfig module is not there in angularx-social-login"
import { SocialLoginModule, SocialAuthServiceConfig , AuthServiceConfig
![Screenshot (39)](https://user-images.githubusercontent.com/56465626/86259548-c7a50700-bbd9-11ea-8ec9-3856e8ac508b.png)
 } from 'angularx-social-login';
import {
  GoogleLoginProvider,
  FacebookLoginProvider,
  AmazonLoginProvider,
} from 'angularx-social-login';

const config = new AuthServiceConfig([
  {
    id: GoogleLogi

[2020-07-01 16:02] #260 closed

[2020-07-02 06:28] jaibatrik commented on #263
@gitalvininfo Thanks for sharing the solution! Will share this in the active issue.

[2020-07-02 06:29] jaibatrik commented on #248
Sharing a comment from another related issue; please check if the following helps - https://github.com/abacritt/angularx-social-login/issues/263#issuecomment-652258506

[2020-07-02 06:34] jaibatrik commented on #282
With the release of v3.0.0, we changed the names of some classes and interfaces, and slightly changed how the library is initialized. Please refer to the [README](https://github.com/abacritt/angularx-social-login).

[2020-07-02 06:34] #282 closed

[2020-07-02 08:58] jaibatrik commented on #280
Added an `initState` observable to `SocialAuthService`. It will complete once all the providers are ready. This should help with calling `signIn` on component load.

Usage: `this.authService.initState.subscribe(() => {}, console.error, () => {console.log('all providers are ready')});`

The problem with centralized handling of providers is not yet solved though. TypeScript is still not supporting `

[2020-07-02 09:40] UrchitaK opened #283 "Build Issue"
I get the following error when trying to run the project
![image](https://user-images.githubusercontent.com/67736735/86343099-215b0f00-bc76-11ea-922e-eb046a13a782.png)
Angular Version 8
"angularx-social-login": "^3.1.1"

[2020-07-02 10:40] jaibatrik commented on #283
Check this - https://github.com/abacritt/angularx-social-login/issues/266#issuecomment-626594538. Reopen if it does not resolve the problem. Note that the class / interface names and the code to initialize the library was a bit different in v2. Refer to the old [README](https://github.com/abacritt/angularx-social-login/blob/728bb892b4fbfafe1e349483874772e20de91342/README.MD).

[2020-07-02 10:40] #283 closed

[2020-07-02 19:29] funar commented on #206
It may not be a library issue, but the ability to catch() the error would certainly be desired. Seeing as the library does all the setup of the Google auth flow, there's no clear place to insert a catch(). Google has had some OAuth issues this week, which is pressing this.

[2020-07-03 12:59] ktezi commented on #282
@jaibatrik this will support angular 10.0.2 latest version ?

[2020-07-03 13:24] jaibatrik commented on #282
Oh, version 10 just released, right? Haven't yet added support for that.

[2020-07-04 20:54] mokipedia opened #284 "if autoLogin and user not logged in, authState never ticks"
Hi,
previous to 3.x, after initialization the authState would tick with eigher a user obj (if logged in) or null of no provider finds a valid login.
Since 3.x if autoLogin is enabled and the user is not logged in on applicatication start, authState never ticks.
This is a problem for authGuards, that need to check if a user is loggedin or not - as the authState never ticks, the navigation currently

[2020-07-05 06:29] jaibatrik commented on #284
Right, makes sense; will make changes to send out null if `autoLogin` is `true` and no user found.

[2020-07-05 09:10] jaibatrik commented on #284
Thanks for the PR, checking!

[2020-07-05 09:18] mokipedia commented on #284
found a bug in my code, fixed it

[2020-07-05 09:35] #284 closed

[2020-07-05 09:56] jaibatrik commented on #282
The changes for v10 are merged in the repository. Yet to publish in npm.

[2020-07-09 18:36] JohnCua opened #288 "solution"
Update v7 to v8 angular
Package "angularx-social-login" has an incompatible peer dependency to "zone.js" (requires "^0.8.29", would install "0.9.1").

Solution
npm i zone.js@0.9.1

[2020-07-12 05:24] abhiaat opened #289 "invalid version specified during Fb login"
"init not called with valid version" message is received during facebook login.
Everything was working well when I was using Angular 8.x and angularx-social-login 1.2.7.

After ugrading to angular 9.x
I am using "angularx-social-login": "^3.2.0"
and I have started receiving this error.

[2020-07-12 06:26] jaibatrik commented on #289
Check the [`FacebookLoginProvider`](https://github.com/abacritt/angularx-social-login/blob/master/projects/lib/src/providers/facebook-login-provider.ts) constructor. Try putting different values for the version as discussed in answers like [this one](https://stackoverflow.com/questions/46348105/facebook-api-invalid-version-specified).

[2020-07-12 13:46] ahmedosama5200 opened #290 "What is the difference between authToken and idToken ?"

[2020-07-12 15:28] abhiaat commented on #289
Thanks. It did work. I had to add version to the `initOptions` in constructor. Sample code is given below for anyone else who faces the issue.

[code]

[2020-07-12 15:29] #289 closed

[2020-07-12 16:03] vishal8802 opened #291 "Auth state goes away after refreshing"
Auth state not persisting . Can anybody help me how to do that ?

[2020-07-12 20:34] jaibatrik commented on #291
Set `autoLogin` to `true` in `SocialAuthServiceConfig` on initialization in your module.

[2020-07-12 20:34] #291 closed

[2020-07-13 01:51] randi2993 opened #292 "3rd party Cookies (NID) are blocked on Chrome private browser"
{"error":"idpiframe_initialization_failed","details":"Cookies are not enabled in current environment."}

[2020-07-13 09:53] vishal8802 commented on #274
I can't find any google-login-provider.ts file ( have google-login-provider.d.ts or google-login-provider.js ) .
Can anyone please help where to make changes

[2020-07-13 09:58] vishal8802 commented on #274
i can't find these files. can anybody help

[2020-07-13 10:27] vishal8802 opened #293 "How can i get token expiry date?"

[2020-07-13 12:35] Metagogy opened #294 "Not having support for ivy"
Hi

 i am getting an error while integrating this plugin with my application.

 This likely means that the library (angularx-social-login) which declares SocialLoginModule has not been processed correctly by ngcc, or is not compatible with Angular Ivy. Check if a newer version of the library is available, and update if so. Also consider checking
with the library's authors to see if the library is

[2020-07-13 14:03] jaibatrik commented on #294
This is expected as per guidelines from Angular, check https://angular.io/guide/creating-libraries#publishing-your-library

If you want to use this with Ivy, you probably have to manually clone the repo, build and copy dist files. Not sure if there's a better way.

[2020-07-13 14:06] jaibatrik commented on #293
I guess, we have to enhance the `SocialUser` class a bit to address these issue. I'll try to take care of this shortly.

[2020-07-13 14:11] jaibatrik commented on #292
The message says cookies are blocked. Have you tried enabling them?

[2020-07-13 14:59] afgonzal commented on #293
there´s already another thread here
[https://github.com/abacritt/angularx-social-login/issues/274](https://github.com/abacritt/angularx-social-login/issues/274)
with the solution

[2020-07-13 15:46] randi2993 commented on #292
Thanks for you reply.
Yes, I did.
But the error only happens with google provider... and when the browser is in incognito mode.
Tested on chrome last version.

[2020-07-13 20:12] robertrandallphillips opened #295 "No exported member"
I'm testing ng 10.0.3 with "angularx-social-login": "^3.2.0". It seems to be working but IntelliJ is giving me these warnings:

TS2305: Module '"../../../node_modules/angularx-social-login/angularx-social-login"' has no exported member 'SocialAuthService'.

TS2305: Module '"../../node_modules/angularx-social-login/angularx-social-login"' has no exported member 'SocialAuthServiceConfig'.

[2020-07-14 10:02] xxholyChalicexx opened #296 "Social login library not working for my angular 8"
So it was working fine in my angular 7 but after i upgraded to angular 8 its not compiling and showing me error. Here is the error i get when i do "ng serve":
`ERROR in node_modules/angularx-social-login/auth.service.d.ts(52,9): error TS1086: An accessor cannot be declared in an ambient context.
node_modules/angularx-social-login/auth.service.d.ts(54,9): error TS1086: An accessor cannot be declare

[2020-07-14 11:34] jaibatrik commented on #296
What's your TypeScript version? Does it fall under the Angular recommended version range?

[2020-07-14 11:37] jaibatrik commented on #295
Probably not an issue with the library itself. We are following the official guide for creating libraries in Angular and the build process is completely from Angular (along with the structure of distribution files). Not sure what is going on with Idea.

[2020-07-14 11:40] jaibatrik commented on #293
duplicate of #274

[2020-07-14 11:40] jaibatrik commented on #293
Duplicate of #274

[2020-07-14 11:52] jaibatrik commented on #292
Not sure, it might be an issue with Google's sign-in library; I did find this - https://developers.google.com/identity/sign-in/web/troubleshooting#chrome_on_ios_in_incognito_mode

[2020-07-14 11:53] jaibatrik commented on #292
Looks like other libraries have also faced this, but nobody found a solution apparently. Need to check on if we have the same problem in any of Google's example pages.

[2020-07-14 12:39] xxholyChalicexx commented on #296
yeap it falls under the recommended version range.

[2020-07-15 09:56] jaibatrik commented on #296
Can you check #266 to see if any of the suggestions help you?

[2020-07-15 15:17] canhvu85 opened #297 "can not login after sign in with google account"
sign in with google account and then dialog hidden, but can not login, no SocialUser Info when console.log(SocialUser)

[2020-07-20 05:08] #296 closed

[2020-07-21 13:20] ahmedosama5200 commented on #290
Hey, Would someone answer me ?

[2020-07-22 23:06] Sztacho opened #299 "Login to google with Ionic framework"
Hi I have a problem with login to google using ionic. When I use method signIn window not show in mobile :C

[2020-07-23 02:12] chaoka commented on #280
Just got the issue, the culprit(s) were uBlock origin AND an agressive Firefox tracking protection. Check any extension and firefox configuration that might prevent downloading third party libraries.

[2020-07-23 09:20] Rolandisimo commented on #294
Why would the library be made not compatible with Ivy?

[2020-07-23 12:55] LSzelecsenyi opened #300 "how to avoid sso login after logout"
After logging out with
`this.socialAuthService.signOut();`
the starting page is loaded and the ssoLogin functionality signs the user back again. I've read somewhere if I call the signOut() method with paramter true
`this.socialAuthService.signOut(true);`
then the sso login won't happen.. but it does.
my sso login code, which runs in oninit:

How can I avoid this? tia

[2020-07-23 13:30] jaibatrik commented on #300
Have you checked the `autoLogin` parameter in `SocialAuthServiceConfig`? Does that help?

[2020-07-23 14:39] jaibatrik commented on #299
I think we do have some issue regarding popups not opening in PWAs. Tracking with #248

[2020-07-23 14:39] #299 closed

[2020-07-23 14:41] LSzelecsenyi commented on #300
@jaibatrik thank you for your answer! Solved it, something stupid was the cause..
`this.socialAuthService.signOut(true);` works well

[2020-07-23 15:07] #290 closed

[2020-07-23 15:12] ahmedosama5200 opened #301 "What is the id_token for ?"
In the plugin documentation, you say that I should be sending the `auth_token` to the server, so, what is the id_token for ? Also, on google sign in documentation [here](https://developers.google.com/identity/sign-in/web/backend-auth#send-the-id-token-to-your-server), they require to send the `id_token` to the server. so, is the `auth_token` the same as `id_token` ?

[2020-07-23 21:33] gauriz commented on #292
I have the same issue with both google and facebook login; and in the normal chrome browser (not incognito)
(Using Ng 10)

[2020-07-24 21:28] shamusschubert opened #302 "Lost on how to persist between page loads"
This all seems to work great.  However hitting a page refresh in Angular 10 app I seem to immediately lose my login.

I build the call to Google login from my navbar/toolbar and that works, but as soon as I hit refresh the login is gone.

How are you persisting in Angular?

[2020-07-25 16:30] mkariti commented on #300
@LSzelecsenyi Im facing the same issue. Any idea on why this might happen?
Thanks

[2020-07-25 17:50] LSzelecsenyi commented on #300
@mkariti in my case calling the signOut() method was inside an if clause which's condition did not met, so the call did not happen... I don't even have to call it with parameter true it works well, and the sso login does not happen after logout. Actually calling it with parameter true removes the application from the user's social account.
 I suggest check everything around the signOut() call.

[2020-07-25 19:57] mkariti commented on #300
@LSzelecsenyi Thanks for the quick reply. Will have a second look.

[2020-07-26 07:07] #300 closed

[2020-07-26 07:10] jaibatrik commented on #302
Try using the `autoLogin` property in `SocialAuthServiceConfig`. Re-open if that does not work.

[2020-07-26 07:10] #302 closed

[2020-07-26 07:21] #201 closed

[2020-07-26 10:52] jaibatrik commented on #274
Added the response object in `SocialUser`. Use that to directly access the required property by checking the provider documentation.

[2020-07-26 10:52] #274 closed

[2020-07-26 10:53] #293 closed

[2020-07-26 10:55] jaibatrik commented on #259
Added the response object in `SocialUser`. Use that to directly access the required property by checking the provider documentation.

[2020-07-26 10:55] #259 closed

[2020-07-27 18:39] Akashkmr938 opened #304 "Login data does not persist"
How to keep login data even after page refresh?

[2020-07-29 08:44] jaibatrik commented on #304
Use the `autoLogin` property in `SocialAuthServiceConfig`.

[2020-07-29 21:42] csbenjamin commented on #280
@jaibatrik I was having this issue too. I am not calling `signIn` on `ngOnInit`. But sometimes, when the user clicks on google sign button as soon as the page loads, we got the error. If the user waits a little bit, the signIn method works fine.
Now that we have`authService.initState`, when the user clicks on the button, we wait that observable to complete before call the `signIn` method.
What do

[2020-07-31 14:47] jaibatrik commented on #280
That might mean that `signIn()` might wait infinitely though.

[2020-07-31 14:51] csbenjamin commented on #280
@jaibatrik So, are there cases where `initState` does not complete? What are the cases? Because I will have the same problem when waiting `initState` to complete in my component.

[2020-07-31 14:54] jaibatrik commented on #280
In the current setup, if one of the providers take forever to load, the initState will be held up I think.

[2020-07-31 15:05] csbenjamin commented on #280
But, if some provider take forever to load and the user clicks on the button of that provide, `signIn` will not work. It would be great if we can check if a specific provide was loaded. What do you think?

[2020-08-01 09:02] jaibatrik commented on #280
Yeah, that might be what we'll need to do. I wanted to keep it simple, but probably doing that will be needed.

[2020-08-01 15:38] piotrsikorski6 opened #305 "LoginOpt lost in newest version"
Hi,

In the newest version of Your package (3.2.1) I can't fin LoginOpt object...

[2020-08-03 11:54] RohitGCoder commented on #280
I am facing similar issue
On console I am getting

`629106217-idpiframe.js:104 GET https://accounts.google.com/o/oauth2/iframerpc?action=checkOrigin&origin=http%3A%2F%2Flocalhost%3A4200&client_id=Google-OAuth-Client-Id 401
ge @ 629106217-idpiframe.js:104
he @ 629106217-idpiframe.js:104
(anonymous) @ 629106217-idpiframe.js:130
(anonymous) @ 629106217-idpiframe.js:112
m.getItem @ 629106217-idpiframe

[2020-08-03 21:02] gyancarlodasilva commented on #302
Similar situation here, i'm using autoLogin:  true
![image](https://user-images.githubusercontent.com/6933051/89225491-a9ec0880-d5b0-11ea-8f2d-11405f18b8e4.png)

I have a singIn button on my header.
![image](https://user-images.githubusercontent.com/6933051/89225525-b6706100-d5b0-11ea-9f22-5c6916e44adb.png)
![image](https://user-images.githubusercontent.com/6933051/89225645-ecade080-d5b0-11ea-87ba

[2020-08-04 03:06] jennyliulfm commented on #280
I had the same issue before, but just now I integrated the demo code to my project, it works now. The only difference between demo code and my code is : autoLogin. Setting autoLogin as true fixes my problem.

[2020-08-06 03:29] #272 closed

[2020-08-06 12:25] johnfrits opened #306 "Login with Microsoft"
Do you have any sample how can we implement it with microsoft authentication?

[2020-08-06 13:42] gyancarlodasilva opened #307 "autoLogin: true does not persist when clicking on the menu item"
I'm using autoLogin:  true
![image](https://user-images.githubusercontent.com/6933051/89225491-a9ec0880-d5b0-11ea-8f2d-11405f18b8e4.png)

I have a singIn button on my header.
![image](https://user-images.githubusercontent.com/6933051/89225525-b6706100-d5b0-11ea-9f22-5c6916e44adb.png)
![image](https://user-images.githubusercontent.com/6933051/89225645-ecade080-d5b0-11ea-87ba-f559dcdea711.png)
Shows

[2020-08-09 09:30] jaibatrik commented on #307
Can you check the code for the demo site? It appears to work there.

[2020-08-10 14:30] #215 closed

[2020-08-14 19:07] Himato opened #308 "initState observable doesn't fire"
I'm trying to subscribe to the initState observable to detect if the Login providers are not ready to make an action about it, but it seems that there's an issue while firing it.

Here's the code that I tried: -

[code]

[2020-08-14 19:34] Himato commented on #308
When I read the code responsible for this part, I found out that it's not actually emitting any values. It only gets completed by calling complete() on the AsyncSubject.

So, I ended up doing this: -

[code]

[2020-08-14 19:34] #308 closed

[2020-08-15 06:46] jaibatrik commented on #305
Yeah, pass a simple JS object. We have removed the interface.

[2020-08-25 09:15] webcat12345 commented on #295
I am having the same issue. Here goes the screenshot.

![image](https://user-images.githubusercontent.com/19761422/91156232-e54e9400-e691-11ea-8bec-f36076815154.png)

[2020-08-25 09:17] webcat12345 commented on #305
Could you please let us know what's the reason for removing that interface?

[2020-08-25 09:18] webcat12345 commented on #305
And document says that interface and same to another class as well.

![image](https://user-images.githubusercontent.com/19761422/91156680-6c037100-e692-11ea-8a57-a3d028df6c60.png)

It's just confusing. The document is obviously not up-to-dated.

[2020-08-25 09:36] webcat12345 commented on #280
Yes, waiting for few seconds resolves the problem. Feeling is not good but thanks for a workaround.

[2020-08-26 12:10] webcat12345 commented on #295
No lint error and AOT compilation error. Not sure if it is IDE problem or not...

[2020-08-27 06:59] jaibatrik commented on #305
Because the options are so varied across providers, I did not think they made a logical grouping. They keep on changing, and the interface needed update whenever a new provider is added or removed. That is not the point of this library.

[2020-08-27 07:34] #221 closed

[2020-08-28 07:07] kapilSoni101 commented on #280
anybody have fix above issue

[2020-08-28 08:12] kapilSoni101 commented on #127
@BruneXX :sir i got below error in the console can you help me please?

**Error: Uncaught (in promise): Login providers not ready yet. Are there errors on your console?**

[2020-08-28 08:33] kapilSoni101 opened #310 "error: "idpiframe_initialization_failed" After load page in Angular 9?"
Hi Team,
I am implementing angularx-social-login in angular9 website but after load the page i got below issue?

![social](https://user-images.githubusercontent.com/26578635/91539420-ea803d00-e936-11ea-8689-c4f3b6a2accb.PNG)

and after click the facebook button got another error in the console?
![facebok](https://user-images.githubusercontent.com/26578635/91539555-23201680-e937-11ea-8383-4ff9d5013

[2020-08-28 16:48] i-aleksandrov commented on #280
If you are using adblocker or your browser is configured on 'strict' and blocks cookies and trackers, social login will not work. Try on a browser with less strict tracking restrictions policy and you may solve your problem.

[2020-08-29 08:26] jaibatrik commented on #280
Not getting much time these days. I'd really appreciate if somebody makes the changes to `SocialAuthService` to make it work only with the ready providers.

[2020-08-29 17:23] mohanramegowda opened #311 "What is the maximum number of users allowed to login for one Google Client ID"

[2020-08-30 04:55] jaibatrik commented on #305
Reopened to update the docs.

[2020-09-01 15:17] VietHoc commented on #310
Are you sure have CLIENT_ID Provider('clientId')?
I think this error form you don't send CLIENT_ID.

[2020-09-01 15:19] VietHoc commented on #280
Make sure your have **client_id** of google or facebook.

[2020-09-02 13:37] sumit24745 commented on #280
I have done "empty cache and hard reload" and now it is working fine.
https://prnt.sc/uaa040

[2020-09-02 15:57] merinann01 opened #312 "In which file in angular should the scopes be initialized?"
const googleLoginOptions: LoginOpt = {
  scope: 'profile email'
}; // https://developers.google.com/api-client-library/javascript/reference/referencedocs#gapiauth2clientconfig

let config = new AuthServiceConfig([
  {
    id: GoogleLoginProvider.PROVIDER_ID,
    provider: new GoogleLoginProvider("Google-OAuth-Client-Id", googleLoginOptions)
  },
  {
    id: FacebookLoginProvider.PROVIDER_ID,
    p

[2020-09-03 14:54] elementalPRESS opened #313 "Please make "providers" in SocialAuthService readable"
I need to know which or how many providers have been registered. Here I found `providers` in `SocialAuthService`. Unfortunately this property is read-only. So please can you make it public or how can I get a list of providers?

Thx in advance,
Lars

[2020-09-04 01:36] fabriziogelsi commented on #280
Hello, I am having the same issue as @csbenjamin and @webcat12345 , if you wait just a few seconds... the provider is ready. But if you try to call it (click in the sign-in button, I'm not calling on ngInit), but calling it by click on the button as soon as the page load, the alert with "Login providers not ready yet" appears... Idk what workaround try... And on the otherhand, what about autoLogin

[2020-09-04 01:47] fabriziogelsi commented on #107
@webcat12345 could you do something to get the token refreshed?

[2020-09-07 13:25] hardwinsoftware commented on #280
This problem occurs on google chrome running on incognito window.@jaibatrik could you please check in incognito mode?

[2020-09-07 14:20] fabriziogelsi commented on #280
I have this problem in Chrome (not incognito window)

[2020-09-08 04:29] hardwinsoftware commented on #280
As per my analysis the variable `this.initialized` is not setting to true on incognito mode and the promise block which initializes the providers is not executing at all on incognito mode.

[2020-09-09 14:26] jaibatrik commented on #313
Can you please let us know your use case for better understanding?

[2020-09-09 14:37] elementalPRESS commented on #313
Typically, I use always Facebook and Google providers. But depending on some environment variables, e.g. hostname etc. sometimes the Google provider is used, only. Now later in my UI I need to know how many providers have been activated. In previous versions I simply used `this.socialAuthServiceConfig.providers.size`. But now this is not a public var anymore :-(

Of course I could implement my own

[2020-09-09 14:41] jaibatrik commented on #313
You can depend on the `SocialAuthServiceConfig` object that you are initializing the `SocialLoginModule` with. Put the object in a reusable module or global variable or something similar. Wouldn't that work?

[2020-09-09 16:52] elementalPRESS commented on #313
Well, there are several more or less complicated work-arounds that would work, but I'm asking myself (from a programmers perspective) why the content of the `SocialLoginModule` is not readable anymore. So, why is it necessary to protect an object that is created by myself?

[2020-09-10 13:51] Rob195-ux opened #315 "Account select window not opened in Electron"
I'm trying to use this package in a Angular + Electron hybrid application. The problem is when the this.googleAuthService.signIn(GoogleLoginProvider.PROVIDER_ID).then(() => {...} function is called the execution stops and it does not do anything.

I'm presuming that this is because it cannot open an Electron window? Can i configure it to work with Electron as well?
What have i tried so far:
- app.

[2020-09-11 10:02] Mannymonster commented on #280
Hi.

The Google login was throwing the error when my project wasn't using https. I enabled --ssl true on my localhost, it now allows me to open the Google log in.
Seems to be something to do with https.

Hope this helps.

[2020-09-12 16:54] jaibatrik commented on #313
Okay, I don't really see anything against it. A getter would be fine probably. Would you care to submit a PR?

[2020-09-12 16:56] jaibatrik commented on #315
Yeah, this is most likely because we don't use the OAuth flow. This is why there is problem with making it work with PWAs as well. I think the solution would be to make this library work with OAuth flow; but I am not really getting time to work on such fundamental changes.

[2020-09-12 17:06] elementalPRESS commented on #313
I would do it if I knew how to do... I never did it before

[2020-09-13 06:24] alexp25 commented on #312
I have the same question. Where do I create the login providers with "Google-OAuth-Client-Id"/"Facebook-App-Id"? Also, I cannot create them as in the example (in the app module) as in my case, these ids are loaded from the server.

[2020-09-13 13:49] brucremo commented on #280
Hello everyone,

In addition to the issues mentioned, Firefox has an issue loading the .js from Facebook, due to Firefox's own settings. It's quite an old issue actually, you can take a look at:

https://support.mozilla.org/en-US/questions/1130053

Would it be possible to set a dynamic path for the third party scripts for loading? Because on production it's not possible to just disable that config

[2020-09-14 12:56] filipeepifaniodeoliveira commented on #280
![image](https://user-images.githubusercontent.com/15159039/93088525-6638f400-f670-11ea-9c1d-1af013d18348.png)

Any solution for this google login error?

[2020-09-14 17:18] #315 closed

[2020-09-14 17:19] Rob195-ux commented on #315
I understand, thank you.
Then i will use a separate OAuth flow for this.

[2020-09-14 18:01] fabriziogelsi commented on #280
See at @csbenjamin  commented on 29 Jul, I used that to wait... and Work fine.

[2020-09-15 03:17] filipeepifaniodeoliveira commented on #280
thanks, it worked perfectly

[2020-09-16 10:52] ihor-zinchenko commented on #280
same for me

[2020-09-17 17:35] BruneXX commented on #280
Hi @jaibatrik Will there be a fix for this in a new release?, I have no problem to implement it if you guys put me up to date on what is needed here. Thanks!

[2020-09-17 17:39] fabriziogelsi commented on #280
I can give you a hand too, if you need...

[2020-09-17 19:51] ihor-zinchenko commented on #280
i delete that plugin and do it by google/fb api, that is best solution

[2020-09-17 19:54] fabriziogelsi commented on #280
Sometimes... The libraries don't help too much when you deep in the use... But Anyway I think is a good tool. In the other hand, can you share with us your solution? Do you have a repo? @ihor-zinchenko

[2020-09-17 19:56] BruneXX commented on #280
@fabriziogelsi thanks! :) I'll take a look at this behavior and I'll propose a solution soon. And @ihor-zinchenko I don't think that will be better.. As a matter of fact, we (the community) are creating packages like this in order to help each other

[2020-09-17 20:36] BruneXX commented on #280
@jaibatrik I think we can use promise.allSettled for angular 9/10 it should be supported, take a look at this:
https://stackoverflow.com/questions/60276013/property-allsettled-does-not-exist-on-type-promiseconstructor-ts2339/60276174#60276174

[2020-09-17 20:52] ihor-zinchenko commented on #280
sure, tomorrow i give you an example how i do it, please remind me if i don't send it

[2020-09-19 09:13] jitangupta opened #317 "Adding additional Linkedin Login provider issue"
I am trying to add [LinkedinLoginProvider](https://github.com/abacritt/angularx-social-login/blob/33860917e1/src/lib/src/providers/linkedIn-login-provider.ts) to my angular app but it's throwing error
![image](https://user-images.githubusercontent.com/11292363/93663323-b951e300-fa84-11ea-9f2e-34cf18da9a7a.png)

Environment Details:
Angular: 8.2.14
angularx-social-login: 2.2.1

I have created a wra

[2020-09-19 11:42] jaibatrik commented on #317
The code you are trying to use won't work now. LinkedIn stopped supporting client-based auth library. That's why we removed the LinkedIn provider in first place.

[2020-09-19 11:42] #317 closed

[2020-09-19 11:49] jaibatrik commented on #280
I see that many of you guys are facing this. Let me try to have a look and update you.

Thanks @BruneXX for the help. Do let me know your suggestions if you get some time.

[2020-09-19 11:50] #304 closed

[2020-09-19 12:04] jaibatrik commented on #280
I am thinking of removing the `initState` from `SocialAuthService` altogether. Rather, the `initState` moves to individual providers. There, it will probably not be exposed, rather the initialization will happen on usage of `signIn` or something (as suggested by @csbenjamin) / on load lazily based on some config.

[2020-09-20 05:03] jaibatrik commented on #280
I'll wait for a few days to see if any other suggestion comes up, otherwise will go ahead with the above changes. Expect the changes to be incorporated by next week :)

[2020-09-20 15:03] Champ4618 opened #318 "FB.init is not a function"
when i open page in angular its shows FB.init is not a function , but google login works fine , dont know what is happening with facebook login can anyone suggest..

[2020-09-20 15:09] Champ4618 commented on #318
what is the solution

[2020-09-20 16:45] #297 closed

[2020-09-20 17:11] libertyjayne commented on #305
@jaibatrik, are you all looking for contributors? I'm looking for an open-source project and this issue seems like a good 'first issue'.

[2020-09-21 10:42] Romain59000 opened #319 "Login with amazon is not working"
Hello,

When trying to login with amazon, i got the following error :
unsupported_response_type
The "amazon" popup appears and disappears and the error is displayed in console. The authState callback is not called.

Stack trace :

core.js:6241 ERROR Error: Uncaught (in promise): unsupported_response_type
at resolvePromise (zone-evergreen.js:798)
at zone-evergreen.js:705
at angularx-social-login.js

[2020-09-21 13:44] Champ4618 opened #320 "Bug in angularx social login"
FB.init is not a function in angular
![image](https://user-images.githubusercontent.com/54623151/93774073-763b6f80-fc3e-11ea-80d2-9a09ed90870d.png)

sdk loding correctly
![image](https://user-images.githubusercontent.com/54623151/93774164-8f442080-fc3e-11ea-81fa-10b93b35b5c8.png)

[2020-09-21 20:45] renang opened #321 "Facebook custom scope on login not working"
I'm specifying scopes on login, but login ignores it. It only works when specified in app.module.

loginFacebook() {
    this.socialAuthService.signIn(FacebookLoginProvider.PROVIDER_ID, {
      scope: 'pages_read_engagement',
      return_scopes: true,
      enable_profile_selector: true
    }).catch(ex => console.log(ex));
  }

[2020-09-23 09:07] mr-perfectcoder commented on #295
Module '"../../../node_modules/angularx-social-login/angularx-social-login"' has no exported member 'SocialAuthService'.Module '"../../../node_modules/angularx-social-login/angularx-social-login"' has no exported member 'SocialAuthServiceConfig'.

![image](https://user-images.githubusercontent.com/53580566/93991773-47420c80-fdaa-11ea-8e1f-d6c8f3374b04.png)

[2020-09-23 15:07] jitangupta opened #322 "Login popup is not opening for google in incognito window"
I am using 2.2.1 with angular 8 and while using the app in incognito window (chrome latest), the pop up is not opening

[2020-09-24 03:52] jaibatrik commented on #322
Can you check if you are getting any error in JS console?

[2020-09-24 03:54] jaibatrik commented on #292
Keeping this alive for now.

[2020-09-24 03:58] jaibatrik commented on #319
It is currently working in the demo site. Could you check there and compare with your solution once?

[2020-09-24 04:02] jaibatrik commented on #294
Keeping alive for now. This can probably serve as a periodic reminder to check if anything changed from Angular and if we need to update anything from our side.

[2020-09-24 04:39] jaibatrik commented on #305
Updated the docs.

[2020-09-24 04:39] #305 closed

[2020-09-24 04:41] jaibatrik commented on #305
@libertyjayne Thanks for your interest! You can pick up any of the open issues where a PR is welcome. Check for the "help wanted" label or a comment indicating so.

[2020-09-25 09:28] baswanders commented on #322
Hi, I have the same happening here with Angular 8 and 2.2.1.
The error in console log is:

`main-es2015.6d397ce1ac4e0d845b72.js:1 ERROR Error: Uncaught (in promise): Object: {"error":"idpiframe_initialization_failed","details":"Cookies are not enabled in current environment."}
    at P (polyfills-es2015.0ef207fb7b4761464817.js:1)
    at P (polyfills-es2015.0ef207fb7b4761464817.js:1)
    at polyfil

[2020-09-25 09:31] baswanders commented on #322
It seems the same like this issue: #292
Using Google Identity.

[2020-09-26 14:12] jitangupta commented on #322
Thank you @baswanders for sharing the error.
@jaibatrik I am also getting the same error

[2020-09-27 12:44] d-borys opened #323 "Locale for facebook login"
Hi, is there a way to set locale for facebook login dialog? I need Polish language, but anytime I press login button it shows me English version of the dialog.

[2020-09-27 14:25] jaibatrik commented on #323
![image](https://user-images.githubusercontent.com/1858403/94367278-4b985d80-00fb-11eb-84d7-97d5d7b31b4f.png)

Pass the locale as part of the `initOptions`.

[2020-09-27 14:25] #323 closed

[2020-09-27 14:27] jaibatrik commented on #322
We don't really have a solution for this yet. But closing this as this is already getting tracked in the other issue.

[2020-09-27 14:27] #322 closed

[2020-09-27 20:38] taujoey commented on #107
I would like to know this too.
Just started using this library, and based on the google api doc-s, i need a refresh token.
Does anybody have a solution for this?

[2020-09-28 11:45] #301 closed

[2020-09-28 16:42] BruneXX commented on #280
Hi @jaibatrik are you going to review this this week? I can help on anything you need, just let me know. I've already have a fork of this and started to make some changes, but if you are going through this soon I'll get rid of my changes. Thanks!

[2020-09-29 08:19] jaibatrik commented on #280
I started to make the changes last weekend, but could not finish. I am hoping to complete by this weekend. However, if you have changes ready, I wouldn't mind if you send a PR. We can review and discuss on it.

[2020-09-30 16:19] jaibatrik commented on #280
Review the above.

[2020-09-30 18:36] prem6667 commented on #158
There is no option for lazyLoad in the latest version **Angular 9/10**,

[2020-09-30 19:40] jonstelly commented on #306
I'm trying to implement this now.  It's my first time digging into the internals of this library but it seems pretty straight-forward to add a provider.  I'm basing this off of the [MSAL v2](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-browser) and am starting to test it this week.

[2020-10-01 06:52] jaibatrik commented on #158
Right, these changes got omitted in version 3 refactoring. I am in the middle of refactoring the login providers again due to #280. I need to incorporate this as well.

[2020-10-01 07:20] jaibatrik commented on #306
Check https://github.com/Azure-Samples/active-directory-javascript-singlepageapp-angular/blob/master/src/app/app.component.ts and https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/login-user.md

I think the `loginPopup()` method should help you.

[2020-10-02 16:15] petrovich2k opened #325 "VK login provider"
Hi! I have implemented VK login provider and tested it locally. [vk.com](https://vk.com/) is the most popular social media in Russia. If you don't mind, I would like to push my branch to your repository and create a pull request.

[2020-10-02 18:19] jaibatrik commented on #325
Sure, please raise a PR!

[2020-10-02 18:33] petrovich2k commented on #325
@jaibatrik  Could you give me the permission to push my branch?

[2020-10-03 11:32] petrovich2k commented on #325
@jaibatrik ?

[2020-10-04 20:02] asifshapnil commented on #280
Hi, I get login providers not ready yet sometimes, and sometimes it works. Can you tell me why this is happening?

[2020-10-05 06:26] jaibatrik commented on #325
Hi @petrovich2k, you need to fork this repository and push the branch there. You can create PR from the fork then.

https://opensource.com/article/19/7/create-pull-request-github

[2020-10-05 09:48] petrovich2k commented on #325
@jaibatrik could you review the PR?
https://github.com/abacritt/angularx-social-login/pull/326

[2020-10-05 22:51] jonstelly commented on #306
I've got a minimal `initialize()` and `signIn()` working at [this branch](https://github.com/kymeric/angularx-social-login/tree/feature/ms).

`getLoginStatus()` isn't working correctly yet, gives an error:

[code]

`signOut()` also isn't behaving right

I also need to wire up more configuration options and validate/correct the claims and properties to a `SocialUser`, but it's a start.

I also had

[2020-10-07 08:44] jaibatrik commented on #325
Thanks! Let me do it over the weekend.

[2020-10-07 09:06] zoltan-toth-mw commented on #280
This is an odd issue for us too with google login as just some of the users get this error.
This is how we use it:
[code]

[2020-10-10 04:37] kilghar opened #327 "Google sign-in is stop working after useHash: false"
Google Sign-in was working well but stopped working after removing hash in URL by setting useHash: false in app.routing.ts

basically getting null from authState (below), but I didn't see any noticeable error in the log.

this.authService.authState.subscribe((user) => {

}

Anyone has clue on what is going on?

[2020-10-10 08:12] jaibatrik commented on #327
Ideally there should not be any effect of hashes on this library. Try comparing your code to the demo app in this repository.

[2020-10-12 20:15] javatutorials2016 opened #328 "Angular web working fine but Not working with nativescript"
JS: ERROR Error: Uncaught (in promise): Login providers not ready yet. Are there errors on you
r console?

any thoughts for nativescript compatibility?

[2020-10-13 12:52] suhagsarak commented on #280
Do you also know how to verify the auth token on the backend?  did you find

[2020-10-14 04:28] adarshkhatri commented on #307
I am in a similar situation. My login is gone after a refresh.

[2020-10-14 06:29] BsiSuresh opened #329 "I got this type of error."
I'm using angular 9. If i click social login button, i got this type of error.

''
![Screenshot from 2020-10-14 11-58-29](https://user-images.githubusercontent.com/70131554/95951766-9eb92280-0e14-11eb-9263-ed96eab520fe.png)

[2020-10-14 06:58] ismailoffical80 commented on #280
I also same issue witch reported above. is there an
![image](https://user-images.githubusercontent.com/56714862/95954287-7fba9080-0e14-11eb-8c7c-4e8f026fd9ed.png)
y solution or new release

[2020-10-15 02:13] adarshkhatri opened #330 "Qst: How to use authToken in my backend?"
Can anyone point me out in the right direction?

I am developing my backend in `laminas API tool` framework.

How do I use `authToken` in my backend?

Should I re-call to google within the backend to check if the user has been authorized? I believe I shouldn't be doing this since the backend will be calling to google API for every backend API call.

What is the best approach?

[2020-10-18 03:18] javatutorials2016 commented on #328
looks like irrelevant, found a different plugin for nativescript

[2020-10-18 03:18] #328 closed

[2020-10-19 17:40] sergey-morenets opened #331 "GitHub authentication"
Hi

Do you have any plans to add GitHub as authentication provider?

Thanks.

[2020-10-21 13:05] BruneXX commented on #280
@ismailoffical80 I think should be a new release soon @jaibatrik was working on that.

[2020-10-23 21:21] ostankin commented on #107
I have a pretty lame workaround, but it works.

First of all, I wrote a small helper called `JwtHelper` that makes use of [@auth0/angular-jwt](https://www.npmjs.com/package/@auth0/angular-jwt) to do the following:
* decode the JWT token
* extract its `exp` field
* tell if it is about to expire

[code]
Then, before sending the token to backend, I check if it is about to expire (or has already expir

[2020-10-24 10:31] #325 closed

[2020-10-24 15:06] jaibatrik commented on #280
Yeah, have been little busy lately... But this is being worked upon. We have arrived at an approach (see the commit I posted above). As soon as I get some time, I'll update the providers and create a release.

[2020-10-24 15:09] jaibatrik commented on #331
Currently don't have support for OAuth based login flows.

[2020-10-24 15:11] jaibatrik commented on #328
@javatutorials2016 Would you mind pointing us to the plugin? This has been a highly requested feature.

[2020-10-24 15:16] jaibatrik commented on #330
Yes, hit Google API from back-end to validate. Check their documentation. They have docs on how you can validate in server.

[2020-10-24 15:19] jaibatrik commented on #330
Sorry, to have closed. Re-opening for others' participation. Will be closed automatically in case of no participation.

[2020-10-24 15:20] jaibatrik commented on #329
Duplicate of #280.

[2020-10-24 15:20] #329 closed

[2020-10-24 16:19] sergey-morenets commented on #331
Do you mean that Github doesn't support OAuth-based authentication?
But its documentation states about this support: https://developer.github.com/apps/building-oauth-apps/authorizing-oauth-apps/

[2020-10-25 05:38] jaibatrik commented on #331
No, we are not supporting authentication that requires configuring a OAuth redirect URLs.

[2020-10-27 06:33] SagarVirpara opened #332 "Q: Does this support LinkedIn login ?"
Hi,

If this support linkedin login then it would be great.

I have gone through codes but not able to find out ant code related to linkedin.

[2020-10-28 09:29] kamalkech commented on #281
@jaibatrik but i get same error if have switch app facebook to dev mode !!

[2020-10-28 09:47] kamalkech commented on #306
[code]
[code]

[2020-10-28 21:26] kamalkech commented on #265
@jaibatrik there is no way to callback on server side ??

[2020-10-30 11:17] rajatsaini736 commented on #280
Hello everybody. if someone facing this error "Login providers not ready yet. Are there errors on your console?" after trying all these changes, maybe you should pause your browser's ad blocker and repeat the task (log in using google/ FB).

Hope it helps :)

[2020-11-01 20:25] alexisqc92 commented on #280
Did somebody was able to find a solution?

[2020-11-01 20:38] alexisqc92 commented on #280
So I was able to solve this by creating new Oauth credentials and assigning my IP.

Also activate this:

1)Activate both Analytics and Google Plus APIs on your project
2)Create new OAUTH 2.0 client credentials
     Add the Authorized Javascript Origins under Restrictions section
3)Use the new client id.

https://stackoverflow.com/questions/43964539/google-api-not-a-valid-origin-for-the-client-url-

[2020-11-04 19:15] #311 closed

[2020-11-06 18:53] jonstelly commented on #306
This got pushed to the back burner for a few weeks but I've almost got it.  One (big?) outstanding issue:

`signOut()` calls MSAL `logout()` which navigates to the Microsoft authentication site then sends us back to our app's url.  This doesn't seem to fit with other provider behavior but I don't see anything in MSAL to do this without the navigate/redirect?  Assuming this needs to get fixed, I'll

[2020-11-07 08:37] jaibatrik commented on #306
Yeah, they should be able to silently do that (may be through AJAX or something / or in worst case a popup). We can definitely open an issue with them.

As far as this library goes, I think someone willing to use MS login will have to live with this quirk. I checked the MS library documentation, and it seems that the `logout` function accepts a `postLogoutRedirectUri` value. We can perhaps default

[2020-11-07 16:57] #310 closed

[2020-11-07 19:07] jonstelly commented on #306
Issue created for MSAL and linked to this issue.

I'll get the SocialUser mapping code finished and may try to add some sort of "partial logout" flag for the Microsoft Provider configuration, where we can just clear the MSAL session cache or something, technically not ending the session but allowing someone using this library and MS authentication to avoid the navigate/redirect if they absolutely

[2020-11-08 16:37] #280 closed

[2020-11-08 16:49] jaibatrik commented on #280
Published a (sort of temporary) fix for this. Reopen if the issue is being seen in package version >=3.4.1.

[2020-11-10 13:44] carbon-wpa commented on #107
I have just created a PR for refreshing google auth token, please check it once you have some free time 🔢

[2020-11-11 08:21] chunwing opened #336 "[feature] Can add 'width' and 'height' as the query string?"
https://github.com/abacritt/angularx-social-login/blob/4e839eab9fb2364926e679c89ded3f2814cfcf5b/projects/lib/src/providers/facebook-login-provider.ts#L90

[2020-11-11 09:52] developerdesigner18 opened #337 "Not able to sign in with mobile device, while in web browser its working properly"
The version of angularx-social-login is 2.2.1 and the angular CLI version is 8. It is working properly on the web browser but when try to do on any mobile device it is not working.

Please help me out.

[2020-11-11 16:47] jaibatrik commented on #336
I guess we can accept those as arguments in the `signInOptions` and use them while constructing the request.

PR will be welcome on this!

[2020-11-11 16:49] jaibatrik commented on #337
Check if there's a popup blocker.

[2020-11-12 03:58] developerdesigner18 commented on #337
@jaibatrik Thank you for the reply. But I removed the ad-blocker from the browser and re-run the project. it is not opening!!!

[2020-11-12 05:19] developerdesigner18 commented on #337
@jaibatrik Is there any browser version issue? I mean working in the old version browser but not in the latest version of the browser.

[2020-11-13 21:04] traviscollins commented on #331
OAuth based login flows, specifically for GitHub, is a requirement for my current project. Are you choosing not to support OAuth because it involves a backend service? Or is there some other reason?

[2020-11-15 15:05] #288 closed

[2020-11-15 23:34] raphaelApard commented on #158
Lazyload has been incoprated with fix of #280 ?

[2020-11-18 10:04] IgorKurkov commented on #292
For my case, an error sometimes appears in the common tab and incognito tab only for google provider.
Any updates with this `idpiframe_initialization_failed`?

[2020-11-18 17:47] #313 closed

[2020-11-19 02:06] bhaskarbommedi opened #339 "angularx-social-login 3.4.1 with Angular 10: ERROR Error: Uncaught (in promise): Login providers not ready yet. Are there errors on your console?"
I am integrating Google and Facebook login using angularx-social-login 3.4.1 with Angular 10.
I am getting below error:
ERROR Error: Uncaught (in promise): Login providers not ready yet. Are there errors on your console?

![image](https://user-images.githubusercontent.com/52466858/99611581-f7ff0d80-29e1-11eb-968d-19c7046bb593.png)

[2020-11-19 08:42] #312 closed

[2020-11-19 09:33] Marax commented on #339
This usually happens when you try to call something (signOut in your example) before the service is initialized - e.g. you didn't yet get the token from some http call. I guess you would need to provide more code here like where you initialize SocialLoginModule.

[2020-11-19 09:39] Marax commented on #337
Not sure if related, but I experienced some issues on Firefox mobile browser, restarting browser usually helped - so I would blame the browser.

[2020-11-19 16:03] Selindek commented on #206
I believe it IS an issue. I want to handle the possible initialization errors during startup, but I cannot. I think socialAuthService.initState onError should be called if an error occurs during initialization.

[2020-11-19 16:47] Selindek commented on #280
`initState` observable resolves half of the problem. But it seems it never calls the error() callback. So if one of the providers cannot be initialized then NONE of the callbacks are called, so I cannot handle the error properly.

[2020-11-19 22:54] mohamedelmancy commented on #280
just you have to serve as https://localhost:4200/ not http://localhost:4200/
make the localhost as https not http

[2020-11-19 23:10] WhiteLord commented on #339
I've come across the same issue using Angular 9.1.12.
My example project is minimialistic - I've created a bare bones Angular app, and a login component.
My app.module.ts is the same as the one provided in the example, I've included it in the imports section of app.module.ts.
Below is my login component.
Could it be a regression on Angular's side?

[code]

[2020-11-19 23:20] WhiteLord commented on #339
One thing is for sure - Facebook SDK does not support [`autoLogAppEvents` ](https://github.com/abacritt/angularx-social-login/blob/8b52afe33f2f2119c8b1e585645269fef4cf543b/projects/lib/src/providers/facebook-login-provider.ts#L30) as evident by their latest provided code:
[code]

[2020-11-20 00:07] bhaskarbommedi commented on #339
Thank you Marax, After removing the logout call it solved my issue.

But, My Observer method is not calling after social (Google) login successful. Here is the code.
In my Controller:
ngOnInit(): void{
this.socialAuthService.authState.subscribe((user) => {
        this.user = user;
});
}
signInWithGoogle(): void {
    this.socialAuthService.signIn(GoogleLoginProvider.PROVIDER_ID);
  }

In app.modu

[2020-11-20 07:00] jaibatrik commented on #280
Yeah, in its current state, the library works properly if all the providers are initialized (either success or failure). It cannot deal with a situation where any of the initializing promises does not resolve or reject. It depends on the individual providers to provide with an outcome after a reasonable time, rather than having a timeout within itself.

The problem with having the initialization d

[2020-11-20 08:10] Marax commented on #339
@bhaskarbommedi Does your controller implements OnInit?

eg:
`export class LoginComponent implements OnInit`

[2020-11-20 16:33] BenjaminWang1031 opened #340 "Not allowing to choose an account if only one signed in"
The popup will not allow you to choose or change account if there is only one signed in, if you have multiple accounts signed in, it works just fine.

[2020-11-20 17:07] BenjaminWang1031 commented on #340
I was able to find a solution.

Set sign-in option: `prompt: 'select_account'`

[2020-11-20 17:07] #340 closed

[2020-11-20 19:19] bhaskarbommedi commented on #339
@Marax Yes, It is initializing while opening the Login page. But it is not executing the code which was written inside after the google login.

export class LoginComponent implements OnInit {
.
.
}

[2020-11-22 00:47] raphaelApard commented on #158
I made a try here : https://github.com/acolad-developpement/angularx-social-login/commit/4890f0c02dc16ed0b4f99bf3144b0a92f7182628
I'm not sure it's the best way to achieve this, but it works for signIn.
Can we reach signOut without signIn initialization ?

[2020-11-24 09:03] Marax commented on #339
Put a console.log("something") in that subscribe, to check, that it's actually firing or not, sometimes I had problems with ui just not refreshing when it gets some input from outside the framework.

[2020-11-24 14:41] ahmed14java commented on #339
I get the same issue if I added google provider, if I only put facebook provider, it works fine, can anyone help, please.

[2020-11-24 20:08] bushrayasmin24 opened #341 "Unable to signOut from google login"
SIgnOut is working well when I don't refresh the page. But if I refresh the page after signOut It is showing this error.

**core.js:4352 ERROR Error: Uncaught (in promise): Not logged in**
    at resolvePromise (zone-evergreen.js:798)
    at resolvePromise (zone-evergreen.js:750)
    at zone-evergreen.js:860
    at ZoneDelegate.invokeTask (zone-evergreen.js:399)
    at Object.onInvokeTask (core.js

[2020-11-25 04:19] Champ4618 commented on #339
in chorme im getting this issue login providers are not yet ready but in firefox its working fine

[2020-11-25 04:28] bhaskarbommedi commented on #339
Thanks @Marax
I got the issue, it is in my code. On the Google icon link, I kept <a href="">, so that it is reloading my initial controller instead of the login controller.  So that my LoginController is not on focus at the time of Google Login happened.

Thanks All for your suggestions to find the issue.

[2020-11-25 08:41] Marax commented on #341
That's because signing in will actually only provide you with user information. If you refresh the page, all locally stored information in social-login will disappear so there is no need for signOut. If you are still signed in after refresh, it's because your login information is stored by you somewhere else, like local storage.

[2020-11-25 10:52] bushrayasmin24 commented on #341
If I follow your solution. It is a good way to go through.? But If google provides the signOut method so behind it must be a specific reason. So we must have signOut from google first then we call our SignOut.

[2020-11-25 11:06] penfold opened #342 "Add code flow authentication for Facebook"
Facebook offers a more secure option for authentication where the response on the web client only received a simple code instead of the access_token. Then on the backend, we can exchange the code for an access_token  that can be secured using the app secret via the proof token.

https://developers.facebook.com/docs/facebook-login/security/#codeflow

I think this addition (via a boolean config swit

[2020-11-26 11:43] 4i-helpynet opened #343 "Question: Can be the PROVIDE_ID added / updated later in component, not in .module?"
I use the angularx-social-login in a lazy loaded library where the provider informations coming from config parameter outside of library. I try to find a solution with example, where the provider information not set in the module, but later in the .component constructor, or init.

Can you give some tip or example code for that?

[2020-11-26 17:00] #318 closed

[2020-11-27 09:19] Marax commented on #341
Depends on your use case. For example I use social login only for authentification with my server. Google provides token, I validate it on the backend, then I use my own auth between server and client. So I don't need social/google auth anymore. I actually implemented it in a way, that after login with my backend is sucessful, I signOut from google login, but keep my own auth stored in localStorag

[2020-11-27 15:25] #320 closed

[2020-11-27 18:56] bushrayasmin24 commented on #341
Thank you for your response, I'm trying to find an appropriate answer to this, you clear my all doubts. The problem resolved thanks a lot.

[2020-11-27 18:56] #341 closed

[2020-11-27 23:17] #321 closed

[2020-11-28 14:56] #306 closed

[2020-11-28 16:03] jaibatrik commented on #321
Check the code at https://github.com/abacritt/angularx-social-login/blob/61b9a854e1ba4b33dd152379e7943f3868a466f2/projects/lib/src/providers/facebook-login-provider.ts#L75

It should take into account the options passed. If you feel there's a bug, you are welcome to suggest a fix / raise a pull request.

[2020-11-28 16:07] jaibatrik commented on #318
Can you provide a us a sample where we can see the issue?

[2020-11-28 16:09] jaibatrik commented on #343
The provider configurations can be a provided with a Promise; which can resolve at a later point of time. Check if that can help you with your use case.

[2020-11-28 16:13] jaibatrik commented on #342
Sure, as long as this is useful to the user base of the library, it can be added. Feel free to raise a PR!

[2020-11-28 16:26] jaibatrik commented on #206
Yeah, the `onError` callback should get invoked. That's the desired behavior. Is it not happening?

[2020-11-28 16:30] jaibatrik commented on #331
Yeah, it's because of the involvement with back-end services.

[2020-11-28 16:36] jaibatrik commented on #158
Someone can choose to call it I think; though it doesn't make sense. The `autoLogin` itself does not make sense with lazy load.

[2020-11-28 17:42] raphaelApard commented on #158
Yes if lazyLoad is enabled, autoLogin is ignored

[2020-11-29 10:22] #295 closed

[2020-11-30 00:28] javatutorials2016 opened #344 "Property 'refreshAuthToken' does not exist on type 'SocialAuthService'."
I was using angularx-social-login@3.2.1, now did a clean install of angularx-social-login@3.4.1, however I get this error?
import { SocialAuthService } from "angularx-social-login";

constructor(
    private tokenExtractor: HttpXsrfTokenExtractor,
    private secureLSService: SecureLSService,
    private router: Router,
    private authService: SocialAuthService
  )

 this.authService.refreshAuthT

[2020-11-30 00:50] javatutorials2016 commented on #344
please ignore, "npm i abacritt/angularx-social-login"  resolved this issue

[2020-11-30 06:54] #319 closed

[2020-11-30 10:30] zrelja commented on #344
@carbon-wpa any help please? :) typings?

[2020-11-30 10:53] carbon-wpa commented on #344
@javatutorials2016 , @zrelja I guess new version is not yet published in npm. Please take a look that last commit was merged to master two days ago. Lastest version on NPM is 3.4.1 which was published about 22 days ago.

@jaibatrik can you publish new version to npm?

[2020-11-30 10:56] carbon-wpa commented on #332
I have never used Linkedin api for login, but if it is possible I can implement it once I have some free time. Does anybody else need it?

[2020-11-30 11:19] jaibatrik commented on #344
Hey sorry, doing it in couple of hours.

[2020-11-30 11:35] jaibatrik commented on #332
LinkedIn currently supports only OAuth for authentication; we have so far shunned that because of the server-side component of the OAuth flow. If we have a good strategy to factor that in, we can think about supporting LinkedIn and other providers like Twitter, Github, etc.

[2020-11-30 20:20] jaibatrik commented on #344
Couldn't get to it today. Will publish tomorrow.

[2020-12-01 08:20] jaibatrik commented on #344
Just published to npm, thanks!

[2020-12-01 08:20] #344 closed

[2020-12-01 14:18] Bennie-higuru commented on #280
I have found something that works for me. I also tried calling the `signIn` function from the `ngOnInit` just to get the same error message.

In my solution, I subscribe to the `initState`, and after it is initialized, I `signIn`.

[code]

[2020-12-01 20:41] zrelja opened #345 "Auth token and id token undefined after google token refresh"
![refresh](https://user-images.githubusercontent.com/33201237/100794383-c93f5900-341d-11eb-89a2-04b5b7f310a9.png)

Hey @carbon-wpa ,
I am refreshing the token, and it seems to work fine, but I have a weird behavior where the auth token and id token are undefined.

Do you know how could I retrieve id_token after token refresh?

Thanks!

[2020-12-02 08:52] manduriomane opened #346 "angularx-social-login 3.5.1 SSR issue"
Hi,

I have updated angularx-social-login to 3.5.1 version, but when I compile with angular universal I get this error:

[code]

the problem is on this function:

[code]

How I can fix it?

Thanks

Marco

[2020-12-02 09:43] carbon-wpa commented on #345
@zrelja I have checked it on my local env with new version of lib. It is defenetiely an issuse - sorry. I have created PR to fix it

[2020-12-02 11:39] zrelja commented on #345
Nice thanks!

[2020-12-02 15:41] #345 closed

[2020-12-02 15:44] jaibatrik commented on #346
Looks like a bug with Microsoft provider. Does it occur when you don't have configured one? What command are you running?

[2020-12-02 16:17] manduriomane commented on #346
Hi jaibatrik,

yes I don't have any Microsoft provider configured.

The error occurs when I run this command in angular cli:

`npm run dev:ssr`

[2020-12-03 12:33] dpkswn4 commented on #346
Same issue. Any update?

[2020-12-03 20:04] jbarros35 opened #348 "ERESOLVE unable to resolve dependency tree"
npm i angularx-social-login
npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: frontend@0.0.0
npm ERR! Found: @angular/common@11.0.3
npm ERR! node_modules/@angular/common
npm ERR!   @angular/common@"~11.0.1" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer @angular/common@"^9.0.0 || ^10.0.0" from angularx

[2020-12-04 07:32] jaibatrik commented on #346
Yeah, will check this over the weekend.

[2020-12-06 13:19] RTechEFolks opened #349 "Not able to initialize GoogleLoginProvider with custom config options"
I have added the init config in the app.module.ts file as shown below
![image](https://user-images.githubusercontent.com/67382921/101281145-7e458d00-37f3-11eb-92fa-3f353be12e09.png)

Even though I supply the arguments
{
              scope: "email",
              response_type: "code"
            }
for initialization. The call for the token is still going as

![image](https://user-images.githubuse

[2020-12-07 03:56] jpike88 opened #350 "Only initialise Google on condition"
I have a Cordova app, and want to disable the Google Provider, but there doesn't seem a way to do it. Otherwise I am getting spammed with the error 'gapi.auth2.ExternallyVisibleError' as the Cordova apps use the file:// protocol

[2020-12-07 12:37] duhamaher commented on #346
i have faced the same error as well when running npm run dev:ssr
any updates?

[2020-12-07 14:22] #346 closed

[2020-12-07 14:23] jaibatrik commented on #346
Relased v3.5.3 in npm. I did not test this with SSR though as the demo app is not setup for that. Could you guys test it and report?

[2020-12-07 14:29] jaibatrik commented on #348
Pushed a fix for this. Could you please check with v3.5.4?

[2020-12-07 14:29] #348 closed

[2020-12-07 14:35] manduriomane commented on #346
Ok now SSR works. Thanks a lot

[2020-12-07 14:36] jaibatrik commented on #350
You can obtain the value you provide for `SocialAuthServiceConfig` from a function and return different objects based on condition. Check https://angular.io/api/core/FactoryProvider.

[2020-12-07 14:48] jaibatrik commented on #349
Not sure why this is happening. Could you please try debugging the `GoogleLoginProvider#initialize` method?

[2020-12-07 16:25] #350 closed

[2020-12-07 18:26] BetoShiver commented on #215
I have this issue when trying to implement google authentication from firebase, anyone actually found a way to solve this?

[2020-12-07 18:36] RTechEFolks commented on #349
I tried it but values are not updating. Can I expect this to be resolved in some time?

[2020-12-08 02:53] LDHo opened #351 "angularx-social-login is not working on cordova run browser."
Hi, I am using Ionic 4 with angular 7. So currently my project will be a hybrid application where a single code based will support 3 kinds of platform which is iOS, android, and browser. However, while I compiled my ionic angular project as cordova browser, I found out that AuthService.signIn got error which is as below. My question is that does the angularx-social-login supports cordova browser?

[2020-12-08 16:55] mvoorberg commented on #107
I saw the PR but it still requires manually "refreshing" the access_token.  Given that the Google's platform.js (GAPI) is self refreshing and puts a "gapi"  instance into  into the global space, you can access it directly at any time for the current access_token.

In the service you use for accessing login protected resources, add the following bits to get the currently valid access token.
[code]

[2020-12-09 07:52] jaibatrik commented on #107
Hi, thanks for the info!

This probably means when someone wants the token, they should just call the `getLoginStatus` method (without the newly introduced parameter) that in turn calls `gapi.auth2.currentUser.get().getAuthResponse(true)`. Is that correct?

[2020-12-09 17:49] mvoorberg commented on #107
Yes, I believe that's correct.

[2020-12-10 16:29] penfold commented on #292
Also how the problem in WebView on Android 10, which also seems to block 3rd party cookies.

[2020-12-10 18:04] alexedwalvarado opened #352 "Provide: SocialAuthServiceConfig shows the error 'SocialAuthServiceConfig' only refers to a type, but is being used as a value here.'"
Here is my code
import { NgModule } from '@angular/core';
import { AppComponent } from './app.component';
import { SocialLoginModule, SocialAuthServiceConfig } from 'angularx-social-login';
import { GoogleLoginProvider, FacebookLoginProvider } from 'angularx-social-login';

@NgModule({
  declarations: [AppComponent],
  entryComponents: [],
  imports: [SocialLoginModule],
  providers: [
    { provi

[2020-12-10 18:08] #352 closed

[2020-12-11 07:58] jaibatrik commented on #349
Have to check what is the behavior outside this library. Would help if you provided a sample as well. Thanks!

[2020-12-11 23:58] despitegfx commented on #280
This worked for me. :)
So I thought of, if it works perfectly when a button is clicked, then I can use a timer in the *ngOnInit()* function.

As the application loads, the timer prevents ```this.authService.signIn(GoogleLoginProvider.PROVIDER_ID``` to load
with the application concurrently.

When the app finish loading and it's ready to execute any call, then the timer is ready and it executes the

[2020-12-13 15:11] agiratech-jayasurya commented on #292
Yes, I'm also Facing same issues. Google login not working in chrome private browser(incognito mode).
But when i enable "Allow all cookies" in browser. then it's working fine.

As well i play with some other site like linked-in, quora, glassdoor, etc.. It's working fine with when "Block third-party cookies" in browser. In other words it's working fine if " third-party cookies" is enable or not.

M

[2020-12-15 13:54] mebibou commented on #67
Why is this issue closed even though it's still an issue with latest version?

[2020-12-15 18:31] Surendar-Kuppusamy opened #353 "While closing popup instead of sign in, it logs error in console"
When user click the google sign in button, then it shows popup. Instead of sign in, closing the popup it logs error on console
![Error](https://user-images.githubusercontent.com/74266599/102256445-6d9ec080-3f31-11eb-8ebd-3107a65ad27f.PNG)
![error1](https://user-images.githubusercontent.com/74266599/102256602-98891480-3f31-11eb-9d18-099586e3bf72.PNG)
.

[2020-12-16 21:43] raphaelApard commented on #158
I think this issue needs to be re-open

[2020-12-20 06:36] #307 closed

[2020-12-24 13:18] tabish-ahmed commented on #292
idpiframe_initialization_failed, because third party cookies are blocked in private window,
Any solution for this issue.

[2020-12-24 13:19] tabish-ahmed commented on #292
I think this issues is in this library and not in google social login sdk

[2020-12-27 23:21] cirix opened #355 "FacebookLogin provider breaking changes between versions 3.2.0 - 3.5.4 and non compliant behaviour"
Hi team,
I have been using the 3.2.0 for quite sometime and I was able to get back the Social user object with a facebook object containing the data of the user (like name / url etc).
I have update to 3.5.4 and there are some breaking changes, aka initOptions are mandatory and actually the version is mandatory. Also the FB api for login has changed and requires a few actions on the application usi

[2020-12-28 07:09] jaibatrik commented on #351
I think we have seen issues earlier with this where the library is incompatible with PWAs and the cross-platform libraries. I don't think we have a solution for this as of now. It'd be great if someone can research and point out the cause / submit a fix.

[2020-12-28 07:11] jaibatrik commented on #107
I think we can keep the `refreshToken` method exposed for the sake of verbosity. I think we can close this issue as well, now that there is a solution.

[2020-12-28 07:11] #107 closed

[2020-12-28 07:24] jaibatrik commented on #67
The library has changed a lot from when this issue was created. This will be tracked with #353.

[2020-12-28 07:26] jaibatrik commented on #327
Reopening for time being. Appears to be a legitimate issue. I'll check if I get some time.

[2020-12-28 07:46] jaibatrik commented on #292
Could anyone facing this issue give me the URL where I can see the problem? Is everyone using `https`?

[2020-12-28 10:50] jaibatrik commented on #292
Check this out - https://github.com/googleworkspace/browser-samples/issues/6#issuecomment-381998260

I think we need to support the redirect method of social login, if we want to bypass this. That seems considerable effort though.

[2020-12-28 11:01] agiratech-jayasurya commented on #292
Yes, I think, most of our plugin user face this issues. I checkout demo on stackblitz in private window. it's also have same issues. https://stackblitz.com/edit/angularx-social-login

[2020-12-28 13:55] jaibatrik commented on #355
I see. I think the code itself won't break if you pass undefined as `initOptions` (check https://github.com/abacritt/angularx-social-login/blob/07104e4c242b8e7c86b6fa110d0aea8bb0950dfc/projects/lib/src/providers/facebook-login-provider.ts), it is probably just a TS error. You can do that as a temporary solution while this gets fixed.

[2020-12-28 14:04] jaibatrik commented on #292
Based on https://developers.google.com/identity/sign-in/web/troubleshooting#third-party_cookies_and_data_blocked, this is a known issue. At current stage, my suggestion would be to handle the error and ask user to enable third-party cookies if they want to sign-in.

However, I think we need to explore the OAuth flow at some point.

[2020-12-29 00:27] cirix commented on #355
Hi @jaibatrik ,
I read the code exactly there and I passed the same init options. Looks like if no initOptions are passed the object get nulled and you get back an error from the call to FB.login stating is missing the version init.
On the second round, you are supporting version 4, will you default to 9? Asking cause for example the response_types after version 7 are managed totally differently.

[2020-12-30 15:50] #330 closed

[2020-12-31 05:09] rdtandel commented on #6
It worked for iPhone 6 plus with safari browser. but not working in iPhone 7 with safari. the Login popup appears but not redirect to the page and the popup window was blank. when refresh the website login succeeded.

[2020-12-31 05:59] rdtandel commented on #337
Same issue here. Working fine in android. But not working iPhone 5, Working in iPhone 6 Pro and iPhone 7. Can anybody fix this?

[2021-01-05 08:45] kbk1303 opened #356 "Support for other providers"
Hi,

Your documentation says it is possible to use this API for other providers too like Discord, Twitch-tv, Twitter etc, but it does not provide any examples of doing so.

Is it supposed to be an option to support other providers by extending your "BaseClassProvider" or something? (if that is the case, please provide an example), or does it merely suggest that you can add more providers to the AP

[2021-01-05 11:21] hetrafi commented on #337
Yes this implementation does not work in-app browser for Facebook.

[2021-01-05 15:51] thangaraja opened #357 "How to use refresh token properly?"
I just integrated the package and its working with Google authentication. The Id token is returned by the method

`this.socialAuthService.signIn(GoogleLoginProvider.PROVIDER_ID);`

The token received expires in one hour. So I used the below method to refresh

`this.socialAuthService.refreshAuthToken(GoogleLoginProvider.PROVIDER_ID);`

Now how to get the new token? it looks like the authState subsc

[2021-01-05 16:29] jaibatrik commented on #357
The `refreshAuthToken` method has code to send value to `authState` subscription. Check - https://github.com/abacritt/angularx-social-login/blob/9bcbb147081cd4cd53a4cb0d6fa946baa0f4a955/projects/lib/src/socialauth.service.ts#L118

Can you debug and try to see what might be happening?

[2021-01-05 16:32] jaibatrik commented on #337
I need to work on non-popup version of this. But many issues are dependent on it.

Since it will be relatively bigger effort, I keep deferring it.

[2021-01-05 16:37] jaibatrik commented on #356
Hi, the library would support any custom provider you implement based the `LoginProvider` interface or `BaseLoginProvider` class. You can pass any such custom provider to the provider value (the `SocialAuthServiceConfig`) in the module initialization. Look at the existing providers for example.

[2021-01-05 16:37] #356 closed

[2021-01-05 20:12] jonathanlal commented on #337
Also experiencing this issue. It's a big problem for us because it means we can't run Facebook ads or share any links on Facebook. Most of our traffic comes from Facebook

[2021-01-10 12:18] jaibatrik commented on #337
Let's track this in #248.

[2021-01-10 12:18] #337 closed

[2021-01-17 17:43] #336 closed

[2021-01-18 05:28] asirihewage commented on #280
I had the same problem. Allowing cookies and popups fixed the issue.

[2021-01-22 08:18] thomasturrell opened #360 "It is not possible to login more than once using Google provider in Chrome on iOS or iPadOS"
### Summary
It is not possible to login more than once using Google as a provider in Chrome on iOS or iPadOS (and possibly Android)

### Steps to reproduce
1. Open Chrome on iOS or IPadOS
2. Go to [Google](https://www.google.com/) and ensure that you are signed out of all Google accounts and remove all accounts apart from one
3. Go to the [Angular X Social Login demo](https://abacritt.github.io/an

[2021-01-22 09:07] thomasturrell commented on #360
I believe that I have isolated the issue to Angular X Social Login.

I am able to login using Google as a provider multiple times in multiple tabs on the [Google Sign In demo page](https://developers.google.com/identity/sign-in/web/sign-in).

[2021-01-22 10:54] thomasturrell commented on #360
iPhone running iOS 12.5.1, Chrome 87.0.4280.77 works correctly. (I have confirmed on two different iPhones with different Google accounts)

So from what I can see this is only an issue on iOS 14.3. (I have replicated it on iPad, and three different iPhones with different accounts.

[2021-01-23 14:37] thomasturrell commented on #360
Yesterday I was able to replicate the issue on MacOS in Safari by simply changing the browser agent string to be the same as Chrome on the IPhone.

However I can not replicate this issue at all today. I can only assume that the issue was in the Google provided authorisation JavaScript and they they have fixed the issue.

[2021-01-23 14:37] #360 closed

[2021-01-26 23:51] striderpapo opened #361 "angularx-social-login doesn't show photourl with facebook"
hello everyone, i'm new here and i'm trying to use angularx-social-login, the problem is it doesn't show facebook image and i followed all the steps,Thank you all for your attention
![facenook](https://user-images.githubusercontent.com/78055747/105921789-f0ba3880-5ffe-11eb-9aca-3504c8fbe942.png)

[2021-01-28 04:50] ewwwgiddings commented on #280
I'm getting this error while using version  ^3.2.2 and it breaks prerendering. I am not calling it in any ngOnInit or without user interaction. Anyone have experience with how to fix this in this case?

[2021-01-29 18:04] ocket8888 opened #362 "Google popup window crashes"
When I hook up the Google social login like this:

[code]

and hook a call to that `googleSignIn` method to a button in the UI, I can click on it, and a "Choose your account" box pops up, but then that box crashes a little while after I click that button. The error my `catch` prints is:

[code]

but I am most definitely *not* closing the popup. Tested in Chromium and Firefox on Windows 10 and Arch

[2021-01-29 21:54] ocket8888 commented on #362
After messing with my browser configuration settings, I've been able to pull out this error message from the popup before it crashes:
[code]

And also about a half-dozen of these:
[code]

[2021-01-29 22:34] ocket8888 commented on #362
I removed my `catch` and was able to get a stack trace:

[code]

[2021-01-31 06:10] #339 closed

[2021-02-02 23:42] ocket8888 commented on #362
Update: your demo at https://abacritt.github.io/angularx-social-login/ doesn't work either - same issue, popup crashes and the console says "popup_closed_by_user".

[2021-02-03 18:35] #342 closed

[2021-02-03 18:35] #343 closed

[2021-02-03 20:54] #331 closed

[2021-02-05 03:28] jinxymon commented on #362
I also have the same issue
  - It was not working,  so i have upgraded on 04.02.2021 to latest version of angularx-social-login 3.5.4 and Angular 11
         Works fine in Microsoft Edge, and fails as per above in Chrome (Which is my main browser)
It can be "worked around" by changing chrome://settings/cookies to allow All Cookies for your Site and for accounts.google.com
- However this is not a r

[2021-02-05 03:42] ocket8888 commented on #362
That's interesting, why does `angularx-social-login` require more cookies than any other site I've ever used that has Google OAuth2 sign-in buttons?

[2021-02-05 06:39] horuko commented on #248
This issue is really important. With this work around the social login only works when it use with facebook social login not nothing else.
When a user navigates to the application through a facebook ad in mobile, it cannot be logged in through google.
Is there any solution today for the google login when the application is opened from facebook on mobile?
Thanks!!!

[2021-02-05 11:49] gitalvininfo commented on #248
Hi. Ive experienced issue the same as yours, I open my web app in facebook
app and the facebook login doesn't work. What fix my issue is that Ive
given a setTimeout for about 2 seconds before initializing the facebook and
that works for me.
I dont know if that fix your issue just sharing what Ive encountered which
same as yours.

On Fri, 5 Feb 2021, 2:40 pm Andrés, <notifications@github.com> wrote

[2021-02-05 11:58] gitalvininfo commented on #248
`signInWithFB() { 		if (this.detectFbInAppBrowser()) { 			this.snotifyDialog.displaySnotifyIndex("Checking your credentials.") 			console.log('this is fb in app browser') 			setTimeout(() => { 				this.GetFbData(); 			}, 2000) 		} else { 			console.log('this not fb in app browser') 			this.GetFbData() 		} 	}

detectFbInAppBrowser() { 		var ua = navigator.userAgent || navigator.vendor || window.ope

[2021-02-05 11:59] #332 closed

[2021-02-05 15:48] horuko commented on #248
Ok, I got it.

The behavior is similar. When the user returns to the application once they have logged in with google, the authstate returns the user who has logged in.

It's just a matter of improving the experience.

The only thing I have had to do is set the `redirect` settings for google authentication
`new GoogleLoginProvider (environment.google.loginProvider, {scope: 'email', ux_mode: 'redir

[2021-02-05 16:48] zwjohn opened #363 "Using page redirect instead of pop up"
Hi,

This is a more question rather than an issue. I don't want to use a pop up for social sign in as there are many issues in using a pop up.

If I use ux_mode: "redirect" for Google sign in, the application page will be redirected to Google sign in page and redirect back to the application with many parameters. How do I get user info in this case?
BTW, autoLogin is set to false.

Thanks!

[2021-02-06 06:15] jaibatrik commented on #363
Can you check what happens if you set `autoLogin` to true? This is one of the most requested feature we are being asked about. Tracking this with #248.

[2021-02-06 06:18] jaibatrik commented on #362
Currently, we are using the `popup` flow instead of `redirect` flow. So, we are not using the OAuth flow currently. There are requests on making the redirect flow work. Tracking it via #248.

[2021-02-06 06:26] jaibatrik commented on #361
I think there were some changes to Facebook policy regarding photo URLs. Probably the app needs additional permission or something. Could you please search on this?

[2021-02-06 22:02] zwjohn commented on #363
Thanks for your reply, I will try it out setting autoLogin to true to see the behavior

[2021-02-07 03:15] thelionleo opened #364 "Authentication lost on reload"
How do stay logged-in on reload? How do I get authentication on reload

[2021-02-09 08:29] jaibatrik commented on #364
There's `autoLogin` argument that can be passed as part of config.

[2021-02-09 08:29] #364 closed

[2021-02-13 21:04] veton commented on #280
In my case Vk was blocked, so its provider failed to initialize, and rest of the providers did not work either. This bug should be reopened.

[2021-02-14 06:31] jaibatrik commented on #280
@veton which version are you using? We addressed this issue sometime back so that all providers are not blocked because of one failure. Could you please check?

[2021-02-14 17:28] ewwwgiddings commented on #280
It was fixed but does the newest version breaks on Angular 10? I can't find the issue where we talked about it but I think this is the project where there was a fix but can't use it cause I'm on 10. I've been meaning to look into it if it is but my switch to Universal is taking forever.

[2021-02-16 08:24] bhorpooja opened #365 "How to get complete AuthResponse object from google signin? Not able to fetch expires_in property from response."
I'm facing problem to get  expires_in attribute from  this.socialAuthService.signIn() method, it does not exist in response.

Angular Version: 7.0.0

Need to update below highlighted code in GoogleLoginProvider to get all property

`angularx-social-login\angularx-social-login.es5.js`

File code:
getLoginStatus() and signIn() methods to be update for GoogleLoginProvider

[code]
Can some please look

[2021-02-16 08:40] jaibatrik commented on #365
Yeah, this needs a fix. Feel free to send a PR. Else, I'll make the change when I get some time.

[2021-02-16 09:13] bhorpooja commented on #365
Hi @jaibatrik,

I have created PR. Can you please look into it

[2021-02-16 12:28] #349 closed

[2021-02-19 20:48] BruneXX commented on #280
Hi @ewwwgiddings I'm working with angular 11.2.1(latest stable Today) I haven't tried the v3.5.4 yet, I'm working with 3.2.2 yet, what kind of issue are you experiencing?

[2021-02-21 12:43] terryjiang2020 opened #367 "authState returns different value when in different component"
I am using Angular 8 with version 2.2.1

I load authService.authState.subscription() in two components: one inside the panel and one in login page.

The inside one will check if user log in though social account; if so (authState return user data), run authService.signOut(true) and send user to log in page;

The outside one will check if user has signed in with social account; if so (authState ret

[2021-02-22 11:29] Dimanoid opened #368 "The service stop working after PC goes back from sleep"
After sleep and back calling signin starts to give the error "Login providers not ready yet. Are there errors on your console?". No errors in console, I think something should be reinitialized...

[2021-02-23 14:26] robholden opened #369 "ERR_UNKNOWN_URL_SCHEME using Facebook provider in Microsoft Edge (Chromium)"
When using Facebook as a provider I'm getting the following error **only** in Microsoft Edge (Chromium). The same things happens on the demo: https://abacritt.github.io/angularx-social-login/

![image](https://user-images.githubusercontent.com/6051248/108856710-3bb97280-75e2-11eb-9cf3-0576e1b5a29b.png)

[2021-02-23 14:51] robholden commented on #369
Never mind, this is caused by an ad blocker. Apologies!

[2021-02-23 14:51] #369 closed

[2021-02-24 06:31] Saiprasad2021 opened #370 "I want to use login with github in angular application"
@jaibatrik

How can we do the login with github using this like . How can i achieve that.. can you please help me on this

[2021-02-24 09:31] parthipanr opened #371 "Provider not ready error occur in Mac Safari browser"
I have integrated this package in my application for google and Facebook login. It was working properly in all browser except Safari browser in mac environment. I have checked your demo application in mac safari browser and faced the same error. Please refer the below screenshot.
![image](https://user-images.githubusercontent.com/15604974/108979965-3414cf00-76b1-11eb-978e-f02ec74c3c28.png)

[2021-02-26 17:33] IgorKurkov commented on #292
Up

[2021-02-28 18:27] titusfx commented on #371
I have the same error, in Chrome. I just copy and paste the example. Sometimes works and sometimes does not. I believe that is, the way, the library use the Providers, the gapi didn't resolve completely or throw an error and the library assume everything is ok. Or angular tries to Init the providers, but the gapi didn't resolve

[2021-03-01 14:03] Aerofusical commented on #361
That is correct, Facebook changed the way the user photo is obtained and it also has a TTL.

The following can be used to fetch the correct Facebook user image:
[code]

[2021-03-04 11:39] gabriel-gn opened #372 "Clear value On Destroy"
First of all, congratulations on this awesome library!

I'm having an issue, because i'm using a login component subscribed to authState that is used in multiple places. (let's say login page and navbar)
I have a guard that redirects me to login page everytime I make a request that returns 401/403.
Everytime I use the social login subscription, it checks for user credentials on the backend, but if

[2021-03-04 11:47] jaibatrik commented on #372
Are you saying that whenever you subscribe, you get the last value in your observer? I think this is because we use `ReplaySubject` in the `SocialAuthService` - https://github.com/abacritt/angularx-social-login/blob/6f0a0ce52d0009159e92db474f1ef37c76b770f4/projects/lib/src/socialauth.service.ts#L28

I am not entirely sure what the standard pattern around this is, but ideally, the `SocialUser` shou

[2021-03-04 12:24] gabriel-gn commented on #372
Thanks for the fast reply!
My issue is not related to the service itself, it works fine logging in.
But I can't manually set `_authState` or `_user` to `null`.
Real case scenario:
- On login screen user tries to login using facebook account, the observable tries to authenticate it on my backend, if unsuccessful, it tries to register the user. The email already exist on the database, so it won't re

[2021-03-04 18:45] jaibatrik commented on #372
I am not sure about your particular business requirement, but what if you authenticate / login the user if you find the email existing in the database? You would be having the token from FB (or other provider), and you can validate in server to establish the authenticity. Again, just a suggestion.

[2021-03-05 01:23] gabriel-gn commented on #372
I solved it by creating an "intermediate" service that listens to authService via another observable and do all the checks and comparisons I needed, like debouncing methods, preventing duplicated and so on.

It solves my particular case, but maybe it should be helpful implementing a "clear value" method to help other developers with crazy logics.

Thanks for your help 😄

[2021-03-05 01:23] #372 closed

[2021-03-05 12:21] #351 closed

[2021-03-05 12:21] #327 closed

[2021-03-07 17:47] selvin007 commented on #371
Check if third party cookies are disabled in settings
google link doesn't work with third party cookies disabled
src: https://developers.google.com/identity/sign-in/web/troubleshooting

[2021-03-08 08:37] sefatanam commented on #280
core.js:4610 ERROR Error: Uncaught (in promise): Login providers not ready yet. Are there errors on your console?
    at resolvePromise (zone-evergreen.js:798) [angular]
    at resolvePromise (zone-evergreen.js:750) [angular]
    at :4200/polyfills.js:10264:21 [angular]
    at Object.onInvokeTask (core.js:28183) [angular]
    at drainMicroTaskQueue (zone-evergreen.js:569) [<root>]
    at ZoneTask.

[2021-03-14 03:34] #357 closed

[2021-03-14 03:34] #355 closed

[2021-03-14 19:07] avialonn commented on #292
Would love to see it fixed!

[2021-03-15 05:49] #271 closed

[2021-03-20 22:22] xx1196 commented on #370
Hi, this package no support github, only support Google, Facebook, Amazon, Vk,Microsoft, please, add Apple login, Github login this package is very good, but no have all logins

[2021-03-22 21:14] evangkin opened #373 "Google - Facebook login not working from facebook in-app-browser"

[2021-03-23 07:02] jaibatrik commented on #373
Yeah, there's ton of issues about this problem. I need to start working on this. Have been busy a bit lately.

[2021-03-23 07:04] jaibatrik commented on #365
Not remembering if I released this fix to npm. @bhorpooja did you receive the fix?

[2021-03-23 07:05] jaibatrik commented on #373
Let's track this with #363.

[2021-03-23 07:05] #373 closed

[2021-03-23 07:06] jaibatrik commented on #363
Let's track this with #248.

[2021-03-23 07:06] #363 closed

[2021-03-23 12:37] bcdevworks opened #374 "Getting stuck on router change after Facebook login"
I am really quite desperate at this point. Please help! Here is my code on [StackOverflow](https://stackoverflow.com/questions/66756558/why-is-my-app-getting-stuck-on-navigation).

I don't know if my issue has to do with angularx-social-login specifically, but I think it's related somehow.

[2021-03-24 07:10] AdamAnsari commented on #292
I am still facing the same issue for chrome incognito mode. Any new updates for the above mentioned bug

[2021-03-24 10:13] bhorpooja commented on #365
@jaibatrik  No. I didn't receive any fixes.

[2021-03-25 13:46] justinthomas0789 opened #375 "Google login ux_mode:redirect not working"
[code]

this is making the call and returning data, but not going inside `then`

[2021-03-25 16:33] jaibatrik commented on #375
I don't think it was designed to return the data in `Promise`. Rather, you'll get the user data in the `Observable`. But will check the code. It might be convenient to return the data with `Promise` as well.

[2021-03-26 05:41] justinthomas0789 commented on #375
I have tried it too, but somehow it is also not working. I don't know what is anything wrong with my implementation, subscription is not working
[code]

[2021-03-26 07:22] jaibatrik commented on #375
That should work ideally. Check if there are any errors in console. You can try comparing your implementation against the demo site we have.

[2021-03-28 21:02] foreinger commented on #349
Hi, I have the same problem. I found that in the loaded library code, data is reassigned to "permission", "id_token", which is used in the form. Maybe this will help solve the problem.
![image](https://user-images.githubusercontent.com/44264209/112767890-d19d4e80-9021-11eb-97fb-73f8ee8e9be0.png)
![image](https://user-images.githubusercontent.com/44264209/112767909-eed21d00-9021-11eb-8c37-20dd8bf6a

[2021-03-30 16:50] mtinnes opened #377 "New release scheduled?"
Is there a new release scheduled? I need access to some fields added to the Microsoft provider which are not available in the current release.

[2021-03-31 06:37] jaibatrik commented on #377
Send a PR. If the changes are trivial and not backward incompatible, we can push a release.

[2021-03-31 14:26] mtinnes commented on #377
It looks like the changes I need are already in place, just needs to be
built and a new release pushed to npm.

On Wed, Mar 31, 2021, 1:37 AM Jaibatrik Dutta ***@***.***>
wrote:

[2021-04-01 09:03] jaibatrik commented on #377
Please bear with me for the day, I'll release it tomorrow.

[2021-04-03 15:22] jaibatrik commented on #377
Published v3.5.5.

[2021-04-03 15:22] #377 closed

[2021-04-03 15:24] jaibatrik commented on #365
Published to npm. Fix should be available at v3.5.5.

[2021-04-03 15:24] #365 closed

[2021-04-03 15:36] jaibatrik commented on #351
#248 is related to this.

[2021-04-03 15:38] jaibatrik commented on #327
Please reopen if the issue persists. Need help in debugging.

[2021-04-03 15:49] jaibatrik commented on #375
Oh, I think I missed the main issue. The ux_mode redirect is probably the main problem. Check #248.

[2021-04-03 21:38] drdreo commented on #294
Is this still a thing?

[2021-04-05 21:44] AliArmas opened #379 "Google login error"
`
signInWithGoogle(): void {

    this.authService.signIn(GoogleLoginProvider.PROVIDER_ID).then(data =>{
      console.log("Datos google: "+data);
    });
  }
`

`ERROR Error: Uncaught (in promise): Login providers not ready yet. Are there errors on your console?`

[https://github.com/AliArmas/E-COMMERCE-04.21-V01.git](url)

[2021-04-06 04:08] RatFou commented on #379
If you have adblock extension, have you tried to deactivate it?

[2021-04-08 16:59] MMieszko opened #380 "SocialAuthService.GetState not returning value"
Hi!

I have just started using the library. Works lovely but I have found the issue.

There is my bootstrap component:
[code]

In the top-bar component I am using the facebook login option. When I login with Facebook using
`this.authService.signIn(FacebookLoginProvider.PROVIDER_ID);`
it works well - refresh the page and hit into ngOnInit() function where I have:

[code]
However the same function n

[2021-04-10 15:11] jaibatrik commented on #380
There's a `autoLogin` parameter in the config that you need to set to `true` for this to work.

[2021-04-10 15:14] jaibatrik commented on #379
Are you trying to do this on load? It will not work that way. Check #280. Use the `initState` `Observable` to observe when the providers are ready.

[2021-04-10 15:16] jaibatrik commented on #294
Yeah, just checked the documentation. It still is.

[2021-04-12 16:57] #379 closed

[2021-04-13 08:09] SHUBHAMDAVE001 commented on #296
Is there any chance to see what iframe do when auto login call.
because of which google login button is not working in some scenario.

Working fine when not loggedIn.

[2021-04-14 10:33] davlasry commented on #237
@ninilo97 I am still getting the error
@skylove123 Could you find a solution since then?

[2021-04-14 10:47] davlasry opened #381 "Facebook login, need to click login twice"
Tried with v3.5.5

If there is no user currently connected to facebook in the browser
When I click on the login with facebook icon, the login popup is displayed
I enter my email and password and then click on the Login button
The popup is closed as expected

**Result**: I receive the following error
"User cancelled login or did not fully authorize."

When I click on the login with facebook icon on

[2021-04-14 21:38] #362 closed

[2021-04-15 06:38] ocket8888 commented on #362
Just to reiterate for anyone else having this issue: the problem is caused because, as was stated, the library uses the `popup` flow instead of `redirect` flow, which requires _third-party cookies_. If your users have third-party cookies enabled in their browsers, they will be able to log in.

[2021-04-15 09:37] justinthomas0789 commented on #375
Yes, I have trouble login using popup mode in private window. That's why used redirect mode. its redirecting to the page, but subscribing to authState not seems working in my code

[2021-04-15 10:09] j-a-h-i-r opened #382 "Demo website not working. Seeing "Login providers not ready yet. Are there errors on your console?" in console"
I was checking the demo website (https://abacritt.github.io/angularx-social-login/). But I could not get any of the login providers to work. When I looked into the console, I saw `Login providers not ready yet. Are there errors on your console?` message printed in the dev console.

Here is the error,
[code]

I was on the latest version (89.0.4389.114) of Google Chrome when I encountered the error.

[2021-04-15 14:28] justinthomas0789 commented on #375
Actually I want to login with google in incognito mode without allowing 3rd party cookies, facebook login is working fine but not google login

[2021-04-15 14:40] justinthomas0789 commented on #375
Well, subscribing authState is working. The problem was, I haven't set `autoLogin: true` in the configuration.

[2021-04-15 18:46] jaibatrik commented on #375
Great! Would you be able to paste the relevant snippets so that others facing the problem can see?

Apart from that, I think it makes sense to set the `autoLogin` value to `true` by default.

[2021-04-16 07:51] justinthomas0789 commented on #375
Sure, I'll do that. Now I have another concern. if we use redirect mode, How do we preserve query parameters used in the URL

[2021-04-16 14:22] RodrigoBoviIS commented on #201
angularx-social-login": "^2.2.1

Hi all, i get the same error, when i use visitor user to navigate on google chrome.

Uncaught (in promise): TypeError: Cannot read property 'access_token' of null

[2021-04-19 12:49] lakshaygupta21 commented on #112
There is a property known as auth_type, you need to set that to "reauthenticate" and everything will work.
Refer to this for more details: <a href="https://www.wellhow.online/Facebook%20login%20dialog%20is%20logging%20in%20even%20on%20closing%20the%20popup%20%7C%20Solved%20%7C%20Facebook%20Developers%20%7C%20React.js/607d7aa4ba8a9a3e6bd93fd3">
Facebook Login popup onClose | Solved
</a>

[2021-04-20 20:55] lookMyCode commented on #294
I have this problem too. Angular 9.0.5, angularx-social-login 3.5.4
angularx-social-login 3.5.5 tried too

[2021-04-23 08:54] terryjiang2020 commented on #367
Hmmmm, so do I need to come back monthly to keep this issue alive?

[2021-04-29 09:50] ignisf0x commented on #112
With reauthenticate:
- LOGIN: Failed
- Exit Login Window: Success

Without reauthenticate
- LOGIN: Success
- Exit Login Window: Failed

Any Idea why using "reauthenticate" will throw undefined fields?  @lakshaygupta21

[2021-04-29 10:11] lakshaygupta21 commented on #112
Re-authentication enables your app to confirm a person's identity even if it was verified previously. Facebook Login lets your app ask a person to re-enter their Facebook password at any time. You can use this to prevent cases where a user leaves a device logged in or where a third party hijacks someone's session with your app.

This is what is the definition of "reauthenticate" by Facebook
[https

[2021-04-30 10:39] mustafa05deniz opened #384 "Error Facebook Provider"
Hi, When I try to sign in with facebook, it does nothing. It seems it doesn't get into then, error or finally blocks.

[2021-04-30 11:17] kungfucsiga commented on #384
The same thing happens to me

[2021-04-30 11:27] gedkul commented on #384
Same... I think its Facebook related problem...

[2021-04-30 11:30] giannicic commented on #384
Same

[2021-04-30 15:04] firzshkh commented on #384
same here. Should we wait ?

[2021-04-30 15:53] aks7665 commented on #384
I am also facing the same issue.

[2021-04-30 17:13] frankps commented on #384
Same here! Was already looking 2 hours into this problem, but apparently a general problem.

[2021-04-30 17:16] gedkul commented on #384
Yes its major bug on Facebook side. https://developers.facebook.com/status/issues/492652922187445/

[2021-05-01 05:11] gedkul commented on #384
Resolved and working again.

[2021-05-02 06:51] nikhilbhalwankar commented on #66
Try below fix, It works for Google Login supporting multiple accounts to choose from in the popup.

https://github.com/abacritt/angularx-social-login/issues/205#issuecomment-541348868

[2021-05-03 18:15] michafrometa commented on #382
Facing the same here

[2021-05-04 05:57] josemojica023 opened #388 ""error":"popup_closed_by_user""
![Screen Shot 2021-05-04 at 1 56 09 PM](https://user-images.githubusercontent.com/68880820/116965478-82ad9d80-ace0-11eb-8412-46899ee02a1e.png)
This will happen when a uses close the pop up modal for choosing their accounts. Need to handle this error.

[2021-05-05 15:49] Selindek commented on #361
That sniplet should be added to the FacebookLoginProvider. Otherwise - if I allow login with different providers - I not onlu needed to add that extra parameter to the imgUrl, but also need to check what is the current user's providerId and make the modification ONLY if it's FACEBOOK.

[2021-05-06 12:40] gedkul commented on #388
Create new "OAuth 2.0 Client IDs" again and specify domains that  u use. like : http://localhost:4200 and if u use production specify that domain too.

[2021-05-07 07:13] titusfx commented on #371
I assume this is error is due to injection. The value Is not ready at the moment is used. Is a library problem. You could track it to the source code.

[2021-05-12 13:46] vladimir-kazakov opened #390 "The Microsoft provider doesn't allow selecting an account"
When a user has multiple accounts, the Microsoft provider silently uses the currently logged in account, which is not always correct. The user may need to use another account, but currently there is no way to do it.

By default, the Google provider behaves the same way, but it can be changed by providing options to `signIn()` with `prompt: select_account`. Unfortunately, this doesn't work when usi

[2021-05-12 13:55] vladimir-kazakov opened #391 "The Microsoft provider doesn't allow choosing a sign-in flow"
Currently, the Microsoft provider always uses the "popup" flow, and it seems like there is no way to change it. There is also the "[redirect](https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-spa-sign-in?tabs=javascript2#choosing-between-a-pop-up-or-redirect-experience)" flow exist. Could it be supported? The Google provider supports it through the `ux_mode` option during in

[2021-05-14 16:24] Bluterg opened #392 "Scopes and fields"
In the documentation is not appear that is necessary to specify the scope and the fields for Facebook, like:
scope:'user_birthday',
filed:'birthday',
Can you include this please.

BR

[2021-05-15 16:18] jaibatrik commented on #361
Merged the PR and released to npm - angularx-social-login@3.5.7.

[2021-05-15 16:18] #361 closed

[2021-05-15 16:20] Burtan opened #393 "LoggedInGuard example"
Hi,
I'm having trouble to get a LoggedInGuard working. Some help is appreciated.

[code]

The plan is to subscribe to the last authState and either return the login url or return true that a user is logged in. The subscription should then automatically complete. If there is no authState, the last return statement gets called. However, the observable from last() never emits any user.

[2021-05-15 16:22] jaibatrik commented on #382
Does work for me... Do you folks have some kind of tracking protection on?

[2021-05-15 19:01] jaibatrik commented on #391
Yeah, need to work on this. Has been pending for some time.

[2021-05-15 19:02] jaibatrik commented on #390
It'd be great if you could check the `MicrosoftLoginProvider` code and suggest how we can modify it. We can then have a PR to add the feature.

[2021-05-15 19:10] jaibatrik commented on #388
I think the `Promise` returned by `signIn` method rejects in this case, and you can handle the rejection. Can you check if that helps?

[2021-05-15 19:14] jaibatrik commented on #384
Thanks everyone. Closing this.

[2021-05-15 19:14] #384 closed

[2021-05-15 19:23] jaibatrik commented on #367
Ideally, there should only be one instance of `AuthService` be running. Is it not the case for you? The same `AuthService` instance should not return different user information.

[2021-05-15 19:26] jaibatrik commented on #294
Looks like Angular has published some new guidelines. It'd be great if somebody can check them and suggest a fix. Otherwise, I'll get back to it when I get some time.

[2021-05-15 19:29] jaibatrik commented on #201
Try checking if the above fix is available in the code for that version.

[2021-05-15 19:32] jaibatrik commented on #362
A note here - some devs have been able to make this library work with the redirect mode for Google. I think it can be done with some custom code.

[2021-05-15 19:34] jaibatrik commented on #375
I have not tried the redirect mode and am not familiar with the configs. Need to check it.

[2021-05-15 19:37] jaibatrik commented on #381
Tried at your URL, it appeared to work at the first try. Did you debug and find anything?

[2021-05-15 21:13] michafrometa commented on #382
Angular version? I found they support up to Angular 10 only, I was using
Angular 11.

On Sat, May 15, 2021, 12:23 PM Jaibatrik Dutta ***@***.***>
wrote:

[2021-05-18 09:57] bttb commented on #292
I'm facing the same issue. A workaround might be to display a warning if 3rd party cookies are blocked. Is there a way to check this?

[2021-05-18 11:16] coperfield86 opened #394 "Uncaught SyntaxError: Identifier 'i' has already been declared"
I include your package in my project and when use this private authService: SocialAuthService the console show this error:
sdk.js?hash=c496acda8bb290322cf2711c8dd070f2&ua=modern_es6:1 Uncaught SyntaxError: Identifier 'i' has already been declared
    at sdk.js?hash=c496acda8bb290322cf2711c8dd070f2&ua=modern_es6:1
(anonymous) @ sdk.js?hash=c496acda8bb290322cf2711c8dd070f2&ua=modern_es6:1

any idea?

[2021-05-19 16:50] BruneXX commented on #339
Hi, just wondering, is this updated in the README.md? since what version was this updated? thanks

[2021-05-19 16:56] BruneXX commented on #339
Also I can't get this working in Firefox 78.10.0esr (64-bit) I'm receiving same error and when I'm implementing thte initState nothing happens it's never initialized.. any suggestions?

[2021-05-19 17:02] BruneXX commented on #339
but... in Windows with firefox 84.0.2 works just fine

[2021-05-19 17:41] Naerian opened #395 "Problems with Microsoft Login"
Hi,

When i try login with Microsoft I always get this error:

`"AADSTS7000218: The request body must contain the following parameter: 'client_assertion' or 'client_secret'.\r\nTrace ID: bb9db7e0-db86-494f-a271-ae3bf8622800\r\nCorrelation ID: 43cae2ea-5071-46e6-ac5b-3d70b5e3c372\r\nTimestamp: 2021-05-19 17:39:03Z"`

With this URL:
`https://login.microsoftonline.com/common/oauth2/v2.0/token`

Any i

[2021-05-20 11:29] nigamkaushal opened #396 ""Login providers not ready yet" error on Firefox but working fine in Google chrome."
I am getting "Login providers not ready yet " error if I try on Firefox but its working fine on Google chrome and Edge.

Angular CLI: 11.2.13
Node: 14.16.1

angularx-social-login Version : 3.5.7

Please help, I'll provide any additional info if needed.

[2021-05-20 11:34] nigamkaushal commented on #396
I just checked your demo app. Even it is showing same error on firefox but working fine on chrome

[2021-05-23 00:33] chiranshu14 opened #397 "Facebook logout doesn't clear all the cookies"
Hello Team,

I  neeed to implement an interface where a user can connect to multiple facebook accounts. With the default way of implementing facebook login, it asks for credentials only the first time (and it works fine). But when I click the same button to add my second account, it does not show a popup, but it directly logs in with the existing user.
So I tried multiple things to resolve this -

[2021-05-23 04:03] chiranshu14 commented on #221
@henryyue2010  were you able to get it working? Can you please suggest a solution to get the popup for user selection while logging into Facebook?
Thanks!

[2021-05-23 11:40] jaibatrik commented on #397
Hey @chiranshu14, I am not sure if this library will be helpful in your case. The library assumes there would be only one user at a time, and that's baked into the code.

As far as disconnecting a user goes, I think the Facebook provider `signOut` method can accept a boolean argument that does sort of a hard logout. Check if that helps you.

[2021-05-23 11:45] chiranshu14 commented on #397
Hi @jaibatrik

Thanks for your quick response.

The login works fine, I just need to be able to disconnect from the user.

I tried the provided signOut(true) function and it clears the auth_token in the session variable.
But it does not clear or delete the cookies. Unfortunately, I can't delete cookies from js/ts as it is an HttpOnly cookie.
Ideally, the logout function should remove the cookies a

[2021-05-23 11:48] jaibatrik commented on #339
That's strange. Generally this error appears when one of the providers fails to initialize (or you try to use one of the providers before it is initialized).

[2021-05-23 11:50] jaibatrik commented on #396
Do you have something like third party cookies blocked (or tracking protection on as Firefox calls it)?

[2021-05-23 11:52] jaibatrik commented on #394
No. Try running the code in dev mode to see which part of the code is breaking.

[2021-05-23 11:53] jaibatrik commented on #292
Thanks! Does the rejected `Promise` contain the actual reason?

[2021-05-23 11:57] jaibatrik commented on #397
Have been out of touch regarding the individual provider code for some time now. Not able to remember anything related to clearing cookies 😔

[2021-05-23 12:00] chiranshu14 commented on #397
okay, I'll try to build the login flow manually.

Appreciate your time!
Thanks

[2021-05-23 12:17] bttb commented on #292
Hi there,

the error I get is

{error: "popup_closed_by_user"}

So not very specific.

On Sun, 23 May 2021 at 13:54, Jaibatrik Dutta ***@***.***>
wrote:

--
____________________________________________________________
Marcus Maack
BTTB - Back To The Basics || WobWob! || recordstores.love

http://www.vinylizer.net
http://www.wobwob.net
https://www.recordstores.love

[2021-05-23 13:12] nigamkaushal commented on #396
Thanks for the reply.
And yes, In "Enhanced Tracking Protection" in Firefox, I was on "Strict" and after trying it on "Standard", its working as expected.

[2021-05-23 13:12] #396 closed

[2021-05-24 00:21] chiranshu14 commented on #397
@jaibatrik
Hi Jaibatrik!

For a general login scenario, if a person is already logged into one facebook account (acc1). But while logging into your application he wants to use a different account (acc2). The FB.login() takes the acc1 by default and just proceeds further automatically. How would you give the user an option to switch user?

[2021-05-25 11:05] jaibatrik commented on #397
I haven't tried this, but vaguely remember that the boolean paramaeter to `signOut` was introduced to address this use case. The problem you are describing must be there with the Facebook JS SDK itself. Do you know how it addresses that? Need to figure it out and incorporate it here probably.

[2021-05-25 23:36] chiranshu14 commented on #397
To me, the boolean parameter didn't make any difference. signOut(true) will just clear the token from Session variables. It doesn't log the user out from facebook.com (in the browser scope).
For us to be able to switch to another account we need to clear the cookies. Mainly the 'xs' cookie, manually deleting it automatically logs the user off from fb.com. We can't do that from js ourselves as it i

[2021-05-26 14:36] TarasKovalenko commented on #388
@jaibatrik @josemojica023
yep, the promise catch method will return this error and you can easily handle this action if you want:
[code]

[2021-05-26 22:34] TLKG opened #398 "I don't need to input password to login After logout"
First, thank you for making this package!

I'm able to sign in. But after logout `this.socialAuthService.signOut();`, I try to log in again and expect to see the Google sign-in screen, instead I got this showing for 2 seconds then I'm in again.

![image](https://user-images.githubusercontent.com/22269729/119738416-88a52300-be35-11eb-90c6-01ebc43591d0.png)

Here is my code:
app.modules.ts
[code]
ap

[2021-05-27 09:14] davlasry commented on #381
@jaibatrik Yes it now works thanks 👍

[2021-05-27 09:36] #381 closed

[2021-05-28 06:55] #370 closed

[2021-05-29 06:44] krishnanprasad commented on #292
Any update on this thread, Still we are facing the issue.

[2021-05-31 04:31] #374 closed

[2021-05-31 20:52] dittuxdev opened #400 "It's not Compatible with Angular 12"
The installation fails for an angular 12 project
![screenLibrary](https://user-images.githubusercontent.com/54783343/120241345-2af34b00-c228-11eb-828b-d472be0dd2f8.png)

[2021-06-01 23:28] TLKG opened #403 "Module not found: Can't resolve 'lib'"
Just downloaded the master, `ng serve` complains missing `lib` in **app.module.ts**:

`import { SocialLoginModule, SocialAuthServiceConfig } from 'lib';`

[2021-06-02 00:00] TLKG commented on #403
Replace all `'lib'` with `'angularx-social-login'` compiled ok.

[2021-06-02 00:00] #403 closed

[2021-06-02 05:22] milen-yordanov opened #404 "Microsoft provider uses unminified JS lib"
See: https://github.com/abacritt/angularx-social-login/blob/master/projects/lib/src/providers/microsoft-login-provider.ts#L124
It uses:
https://alcdn.msauth.net/browser/2.13.1/js/msal-browser.js

But it should use the minified version:
https://alcdn.msauth.net/browser/2.13.1/js/msal-browser.min.js

See:
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/do

[2021-06-02 05:26] jaibatrik commented on #404
Would it be possible for you to open a PR? I can merge and release today itself. It's a holiday here!

[2021-06-03 13:03] jinxymon commented on #292
Can you show a code snippet on how you catch the promise when rejected - would be great.

Ultimately would be better to have it just working rather than having users needing to change their block 3rd party cookie settings.

[2021-06-03 13:15] bttb commented on #292
It's just a workaround, but it looks like this:

`
    this.socialAuthService.signIn(GoogleLoginProvider.PROVIDER_ID)
      .then(x => {
        //console.log('success', x)
      }, err => {
        this.dialogs.openMessageDialog(
          'Google Login Failed',
          'The Google Login failed. Please make sure that 3rd party cookies have not been blocked.');
        console.log('rejected', er

[2021-06-04 05:44] Dimanoid commented on #368
Is the project abandoned?

[2021-06-04 19:26] taalhach opened #407 "MicroSoft Provider for retrieving authorization code and sending code to backend services."
I am working on an application and we are integrating several social logins we intergrated google and works fine when it comes to retirieving authorization code and sending it to out backend service which retrieves access, refresh and id token by itself. for google provider we have an option to set offline access but in case of microsoft we don't have such option my question is that is there any w

[2021-06-11 13:31] porkynet opened #412 "Autologin does not work when there are multiple providers"
It seems that autologin does not work for multiple providers. For example both Google and Facebook works when they are only provider.

[2021-06-11 23:53] TylerBrinks commented on #400
I have the same issue.  I force the installation which compiles, but is missing the gapi variable at runtime.  The initialization fails.  I plan to try different build targets to see if it fixes the issue.

[2021-06-12 13:55] TylerBrinks commented on #400
Scratch my last reply.  The gapi variable is present, but the object does not appear to have a "load" function after the https://apis.google.com/js/platform.js script finishes loading.

[2021-06-12 14:11] TylerBrinks commented on #400
Run `npm i angularx-social-login --force` or `npm i angularx-social-login --legacy-peer-deps` and you should be able to install and run the library.

[2021-06-14 12:52] RepentAndBelieveTheGospel commented on #292
I've encountered this issue on Brave with Shields up and Cross-site cookies blocked. The big problem in my case is that I don't receive anything in the authState subscription and signIn promise. It seems to silently crash somewhere and I am left with no clue as to what's going on.

[2021-06-14 13:10] RepentAndBelieveTheGospel opened #413 "Add config options to auth form floating window"
If I am using the window.open method to open the Google authentication form, I can pass options like left, top, width and height to customize the size and position of the floating window. If I am using the SocialAuthService signIn method, I have no control over the floating window; it's positioned in the center of the screen, with a size of about 618x618 px.

It would be nice to be able to pass th

[2021-06-15 18:19] TLKG opened #414 "Demo Let Me In After "Sign out""
Testing [demo Google sign-in/out ](https://abacritt.github.io/angularx-social-login/) using Chrome and Edge.

### Chrome
It let me in without asking for password. Guess because I have already signed into Google on other tab of Chrome. Clicked on the big `Sign out` button, redirected back to "Not signed in"
![image](https://user-images.githubusercontent.com/22269729/122098850-32892700-cdc6-11eb-857

[2021-06-15 18:28] TLKG commented on #398
I'm closing this because

- found something after study
- posted a new thread (#414 )

[2021-06-15 18:28] #398 closed

[2021-06-16 10:17] jinxymon commented on #292
Thanks for the example - great help for me.

[2021-06-16 14:47] ubihacks commented on #382
any update on it ?

[2021-06-16 14:47] ubihacks commented on #382
Uncaught (in promise): Login providers not ready yet. Are there errors on your console?

[2021-06-16 19:21] #380 closed

[2021-06-19 16:17] mbvb1223 commented on #248
For google provider, we can use
[code]

How about Facebook provider? do we have any way to login with redirect mode instead of popup?

[2021-06-19 16:34] jaibatrik commented on #371
No, the library provides an `Observable` to broadcast when it's ready. Wait for the callback before enabling the sign in buttons.

[2021-06-19 16:36] #388 closed

[2021-06-19 16:47] jaibatrik commented on #412
Do you have a sample for this?

[2021-06-19 16:48] jaibatrik commented on #413
I think you can pass those options as part of `initOptions` or `signInOptions` to your provider. You may need to refer to Google documentation to see how you can pass them.

[2021-06-19 16:50] jaibatrik commented on #414
Did `signOut(true)` not help in this case?

[2021-06-19 16:53] jaibatrik commented on #292
Could you try the `onError` callback that can be passed as part of `SocialAuthServiceConfig`?

[2021-06-19 17:44] marcellobarile commented on #223
@alambertt might be that Facebook doesn't expose the email if the user set it to private in the privacy settings.

[2021-06-19 17:45] marcellobarile commented on #134
@isaleem  @Brijeshlakkad it might be that Facebook doesn't expose the email address if the user set it to private in the privacy settings.

[2021-06-19 22:22] TLKG commented on #414
@jaibatrik Combination of `autoLogin: false` and `signOut(true)` did bring up the username page, but not the password page. Finally here is the [solution](https://groups.google.com/g/google-api-javascript-client/c/PCs8xXV4wxk/m/HDa-_xWgXe4J), look for comment from **Nick Fenwick**.

[2021-06-19 22:22] #414 closed

[2021-06-20 04:34] jaibatrik commented on #414
I was wondering what is the use case for signing someone out from, say, Google itself? Shouldn't just signing out from your site be enough? A user might be logged in to many sites with Google, and if you force them to sign out of Google, they'll be signed out of all those other sites as well. Is that what you want?

[2021-06-20 16:39] TLKG commented on #414
Same. But from end user point of view, sign out means sign out. I would be very concerned if the app is data-sensitive, how would I trust this app?
Google's view, they thought they've already validated a person, rest is yours. 
This is what I thought, Google ought to utilize their "Client ID" for each app to sign in/out users for app bases, rather than as a whole. 

On June 19, 2021 at 9:35 PM, Ja

[2021-06-20 17:51] TLKG commented on #414
It was a little bit of inconsistent yesterday.

Converted the sign-out into 2 buttons: Convenient signout, and _Secure signout_.
Implemented as

[code]
Tested _Secure signout_ with and without call to my own API, plus with and without standalone (non-app) Chrome to Gmail and SO as the same user:

    - Always prompts with ID, then requires a password.
    - standalone non-app Gmail is not impacted

[2021-06-20 22:49] amitbarik167 commented on #400
Any update on this ? Although --force or --legacy-peer-deps helps to install, google oAuth iFrame is not loading in chrome or edge.

I am using Angular 12.0.5, Angular CLI 12.0.5, typescript   4.2.4, Node: 14.17.0, npm 7.17.0

[2021-06-21 14:51] anuragpal1989 commented on #400
![image](https://user-images.githubusercontent.com/11556411/122782273-34734e80-d2ce-11eb-92b1-496c4668becf.png)
Showing error for Angular 12.
Any fixes? or work around?

[2021-06-23 03:43] sepatel commented on #400
I'm looking for an update/fix for this as well as it prevents the CI/CD pipeline from working (which is done inside of a fresh docker container so you can't really go and do a --force by hand on each commit. Just need this updated to say it also supports angular 12.

[2021-06-23 09:23] RepentAndBelieveTheGospel commented on #292
@jaibatrik I've tried that too, forgot to mention it. It doesn't work.

[2021-06-26 12:37] jaibatrik commented on #400
A PR is raised for this at #424. Hoping to merge this by tomorrow.

[2021-06-27 07:48] grishabh1992 opened #426 "Google Sign is not working"
Facebook  login working fine but having issue with google.

I followed lots of resource already cross check everything seems correct to me.

**When I am using implementation mentioned here(https://developers.google.com/identity/sign-in/web/sign-in?refresh=1) using 'angularx-social-login' then working fine but with this module not working.**

My Reference:
https://developers.google.com/identity/sig

[2021-07-01 05:42] amitbarik167 commented on #400
@jaibatrik Looking at the PR comments, do we need to wait for a major release to get the package updated to be compatible with angular 12 ?

[2021-07-01 07:35] jaibatrik commented on #400
Hey, really sorry people. I am kind of swamped with work.

It's generally me who creates the releases. Tomorrow is a holiday for me and I'll create the release and publish it.

[2021-07-02 09:34] jaibatrik commented on #400
Just published v4.0.0 to npm. Please report any issues you see.

[2021-07-02 09:34] #400 closed

[2021-07-02 11:34] IceBjerg commented on #206
Any update on this?

To reproduce this, open the page from another dns, which is not registered under the google client id.
For example: localhost --> local IP
My local IP is not a valid origin for the client (not registered in google console), so the social login does not work. However, I would like to show that error on the login page. Right now, there is absolutely no chance of catching the err

[2021-07-02 13:21] blueiceprj opened #428 "4.0.0 version bug"
After update to new version I get this error on compile.
Angular 11.X

Error: node_modules/angularx-social-login/socialauth.service.d.ts:59:21 - error TS2694: Namespace '"...../node_modules/@angular/core/core"' has no exported member 'ɵɵFactoryDeclaration'.

59     static ɵfac: i0.ɵɵFactoryDeclaration<SocialAuthService, never>;
[code]

Error: node_modules/angularx-social-login/sociallogin.module.d

[2021-07-02 14:09] jaibatrik commented on #428
Hey, could you please use the last stable version before 4 (I think 3.5.7)?

[2021-07-02 15:24] blueiceprj commented on #428
I have changed to old version 3.5.7 for now.

[2021-07-03 07:43] jaibatrik commented on #428
Updated the peer dependency list and readme files. Closing this now.

[2021-07-03 07:43] #428 closed

[2021-07-03 18:26] AlexTsimbalyuk commented on #426
I got the same issue which I solved by downgrading to 3.5.7 version.

[2021-07-05 07:56] prosper1 opened #429 "The package gives me alot of error on Angular 11.2.13"
export 'ɵɵngDeclareInjectable' (imported as 'i0') was not found.

[2021-07-05 08:07] jaibatrik commented on #429
Which version of the package are you using? You should be using version 3 with Angular 11.

[2021-07-05 09:05] prosper1 commented on #429
Amazing, Worked, Thank you .

So where is this written on the documentation, wouldnt something as important as this be bold and clear?

[2021-07-06 12:41] #429 closed

[2021-07-06 17:31] jaibatrik commented on #429
Yeah. It was an omission. Fixed it now.

[2021-07-06 22:26] TLKG opened #430 "TS2694 @angular/core/core has no exported member '00FactoryDeclaration'"
`ng serve` got

My environment
[code]

[2021-07-07 06:23] Sruthi-Unnikrishnan opened #431 "Facebook login data shows email as undefined"
I loggeg into the facebook using the FacebookLoginProvider, In the result data email  is show as undefined.

[2021-07-07 07:37] jaibatrik commented on #430
Use version 3 with Angular v11.

[2021-07-07 08:13] bbarn3y commented on #431
The same thing happened to me, updating from "3.2.1" to "3.5.7" solved the issue in my case.

[2021-07-07 15:29] TLKG commented on #430
After half day struggling updating, it's gone and I'm able to log in now. Here is my package.json

[code]
ng version:
[code]

[2021-07-07 15:29] #430 closed

[2021-07-11 14:59] jaibatrik commented on #206
Just to be clear, there is an `onError` callback that one can pass as part of `SocialAuthConfig` object. That function should get invoked for this error. Try setting it and see if you are able to catch the error.

[2021-07-14 06:17] lperezp commented on #352
Follow the problem with version 12 of Angular.

[2021-07-15 18:46] TLKG commented on #196
@jaibatrik For every subscription, we supposed to unsubscribe. Although don't see it's mention for this package, believe it's needed, right?

[2021-07-15 23:42] mtinnes opened #433 "Microsoft login provider not respecting custom scopes"
The signin() method for the MicrosoftLoginProvider does include the options argument. This prevents using custom scopes from begin defined at sign in.

https://github.com/abacritt/angularx-social-login/blob/c2f648a510a978b635bed1ec1f4003a911cb4e19/projects/lib/src/providers/microsoft-login-provider.ts#L206

[2021-07-17 16:37] harleenarora opened #434 "Auth error with Chrome extension: Invalid Cookie Policy"

[2021-07-18 08:24] jaibatrik commented on #196
Nothing special about this subscription. It'd be needed to avoid leaks.

[2021-07-18 11:11] sateesh9417 commented on #294
This likely means that the library (ng4-social-login) which declares SocialLoginModule has not been processed correctly by ngcc, or is not compatible with Angular Ivy. Check if a newer version of the library is available, and update if so. Also consider checking with the library's authors to see if the library is expected to be compatible with Ivy.

@@@     i am getting error msg like this can any

[2021-07-21 10:58] cheffNFT commented on #428
holy crap this is happening to me now.

[2021-07-21 22:17] #393 closed

[2021-07-22 01:55] #390 closed

[2021-07-22 01:55] #367 closed

[2021-07-22 01:55] #353 closed

[2021-07-22 01:55] #375 closed

[2021-07-22 14:16] SilvaEngComp commented on #337
When I access by smartphone only works in google chrome and I need allow desktop mode

[2021-07-22 18:12] harleenarora opened #436 "gapi.auth2.ExternallyVisibleError: Invalid cookiePolicy"
I have working on angular 11 version, I integrated this page, its working fine on web. But If unplugin on chrome extension, I got this error  `gapi.auth2.ExternallyVisibleError: Invalid cookiePolicy`

If click on google button click got this issue::

`ERROR Error: Uncaught (in promise): Login providers not ready yet. Are there errors on your console?`

Please tell me how to solved this issue??

[2021-07-24 00:06] TLKG opened #437 "1st Login not hit any breakpoint until 2nd attempt After complete logout for Google."
First of all, thank you all for making this fantastic pkg.

What I'm reporting is,

1. after a complete logout, first login won't hit any breakpoint, yet no error or anything
2. stop the app
3. restart the app, now it hits breakpoint.

Here is my code
[code]

I also tried wait for 15 minutes after the complete-logout, still the same.

[2021-07-24 08:41] guliv3r commented on #428
hello any updates?

[2021-07-26 05:30] #395 closed

[2021-07-26 14:24] TristanGrayCC commented on #428
Same happened here as well

[2021-07-27 02:52] jaibatrik commented on #428
The solution is to use version 3.5.7 with Angular 11.

[2021-07-27 10:28] rajesh-emagic commented on #428
right

[2021-07-28 11:32] WagdySamih commented on #382
same error on angular 12
![image](https://user-images.githubusercontent.com/45714046/127315438-8a29bc59-363e-421c-912d-a467eb707d04.png)

[2021-07-28 11:40] TristanGrayCC opened #438 "No refresh token returned on signin"
I need to save the google authToken and refreshToken in order to enable offline access when someone has signed in using their google credentials. I've been looking everywhere for a way to return the refreshToken as part of the signin request (or following the request) and come up short.

One place suggested using the accessType and approvalPrompt but despite adding these the response object doesn'

[2021-07-29 16:24] #394 closed

[2021-07-31 12:54] #392 closed

[2021-08-01 06:07] #397 closed

[2021-08-01 21:42] maravondra opened #439 "Login providers not ready yet. Are there errors on your console?"
I am integrating Facebook login using
 - angularx-social-login 4.0.1
 - Angular CLI: 12.1.4
 - Node: 14.17.3
I am getting the below error:
**ERROR Error: Uncaught (in promise): Login providers not ready yet. Are there errors on your console?**

[code]

[2021-08-03 23:47] shawnshaddock opened #440 "How to get auth token expiry?"
Hi, I'd like to refresh the auth token once it's expired. How can I determine if SocialUser.authToken is expired?

[2021-08-10 14:29] pablooliveira01 commented on #428
thx u

[2021-08-10 14:39] #368 closed

[2021-08-11 03:49] #407 closed

[2021-08-11 20:03] zellkon opened #441 "How to change client_id in Module form components ?"
I wana change variable client_id in AuthServiceConfig from other component ?
Thank for help !

[2021-08-12 02:39] hiepxanh opened #442 "We should Migrate to the new Google Identity Services library"
Yeah, they keep yelling, bla bla .... but we have time to 2023.

![image](https://user-images.githubusercontent.com/16970990/129129960-29d2fde5-10a7-4281-8217-fbd9559248c8.png)
https://developers.google.com/identity/gsi/web/guides/migration

[2021-08-14 14:55] jaibatrik commented on #442
I'll try to incorporate this if I get time. Meanwhile, PRs are welcome!

[2021-08-14 14:56] jaibatrik commented on #441
The `AuthServiceConfig` can be a `Promise` that returns the config.

[2021-08-14 14:59] jaibatrik commented on #368
You can handle the error with the `onError` callback and show a message to the user / reload the page. Not sure if I can think of any other solution at this moment.

[2021-08-14 15:01] jaibatrik commented on #440
I think somebody added a `refreshToken` method in the Google provider. You can check the code on how to call it.

[2021-08-14 15:05] jaibatrik commented on #439
This is likely because you are trying to access the library functionality in `onInit` and the library is not ready by then. There is an `Observable` called `initState` which you can subscribe to watch when the library is initialized and ready.

[2021-08-14 15:07] jaibatrik commented on #438
They are not returned in that `Promise`. You should subscribe to `authState` `Observable` to get the tokens.

[2021-08-14 15:11] jaibatrik commented on #436
The Google provider does not work with tracking protection on / cookies disabled. Catch the error with `onError` callback and show message to user to turn off tracking protection / enable cookies.

[2021-08-14 15:13] jaibatrik commented on #353
The solution is to catch the error in the `Promise` rejection and handle gracefully.

[2021-08-14 15:14] jaibatrik commented on #391
PR welcome!

[2021-08-14 15:16] jaibatrik commented on #434
Kindly check if the Google sign in works without this library.

[2021-08-14 15:16] jaibatrik commented on #433
PR welcome on this.

[2021-08-15 03:25] hiepxanh commented on #442
I'll look into it haha

[2021-08-17 03:18] harleenarora commented on #434
ok

[2021-08-24 11:44] eftas-gka opened #444 "License"
I cannot find any license file in this repository, so is this not an open source project?

[2021-08-30 09:30] arnette-thomas commented on #444
It seems there is a LICENSE file in project/lib. Copyright owner is Google inc though

[2021-08-31 10:20] IKENMouad commented on #438
i'm facing the same issue and there's no refresh token in authState Observable , is there any solution for this ?

[2021-08-31 10:23] IKENMouad commented on #407
@taalhach  i'm facing the same issue , did y find any solution plz??

[2021-08-31 10:32] TristanGrayCC commented on #438
Refresh tokens are not designed for front-end usage. Instead get the authToken, pass it to the server, and use it to exchange for an access-token and refresh-token there for offline use.

This can be closed.

[2021-08-31 10:32] #438 closed

[2021-09-02 13:04] juanclb93 opened #445 "Extra scopes not retrieved in response"
When I pass extra scopes to the login it shows an advice of extra permissions to the user but I accept them and the extra data is not in the response.

[code]

  Here the response fields:

![Captura de pantalla de 2021-09-02 14-58-13](https://user-images.githubusercontent.com/18283517/131848474-ead741df-b0e4-494d-9900-c63b0166857e.png)

[2021-09-09 04:43] #426 closed

[2021-09-12 15:55] #431 closed

[2021-09-15 16:14] timothyuijiatalor commented on #428
After downgrading to version 3.5.7 I'm still having this error

Error: node_modules/angularx-social-login/sociallogin.module.d.ts:13:21 - error TS2694: Namespace '"C:/Users/Great Timo/Projects/RCCG/customers/node_modules/@angular/core/core"' has no exported member 'ɵɵInjectorDeclaration'.

 static ɵinj: i0.ɵɵInjectorDeclaration<SocialLoginModule>;

[2021-09-16 23:22] #206 closed

[2021-09-21 13:57] kaessajidi commented on #280
After some investigation, I'm reproducing this issue on Ms Edge only. The reason is the tracking blocker who prevent google and fb js files to be loaded.

initialize(config) {
  ...
            **.finally(() => {
            this.initialized = true;a
            this._initState.next(this.initialized);
            this._initState.complete();
        });**

The issue is related to the finally block

[2021-09-22 10:20] Pumayk26 commented on #67
still Am having this issue in 2021.. v4.0.1 on angular 12... Anyone found a solution..?

[2021-09-22 11:29] bbarn3y opened #446 "Cannot set properties of null (setting 'provider')"
I'm getting the following error:
![image](https://user-images.githubusercontent.com/8375284/134333959-c301f877-080a-41e0-9dac-9ea399a87853.png)

The relevant code block in **angularx-social-login.js**:

[code]

The issue started to pop up when I switched to **using a factory to configure the module**:

[code]

[code]

This was a needed change in my case, because the application IDs won't be availa

[2021-09-22 11:41] utkarsh-jain13 opened #447 "google authorizationCode"
### Discussed in https://github.com/abacritt/angularx-social-login/discussions/421

<div type='discussions-op-text'>

<sup>Originally posted by **havart** June 25, 2021</sup>
Hello,
Could you please help me understand where I can get the authorization code.
It is not in the response singIn.
![image](https://user-images.githubusercontent.com/12501647/123391084-50177700-d5a4-11eb-8999-bc7756a9f8cf.p

[2021-09-22 19:01] curiousdev opened #448 "Seeking Guidance - Example for redirection to a final url (eg. a bookmark)"
I am seeking guidance on how best to facilitate this with this package -- specifically, ensuring the final redirect in Step 6.

Here's the sample workflow.
[code]
According to the OAuth spec, we should be use the `state` parameter to store this "final destination".

[2021-09-24 19:13] TLKG commented on #388
@jaibatrik @TarasKovalenko  I'm having this issue even my "locahost:4200" is added to the **Allow** list. I added `.catch` part suggested by @TarasKovalenko , it still not resolving `{error: 'popup_closed_by_user'}`
Any other solution? Thank you and appreciate it.

[2021-09-24 19:28] jaibatrik commented on #388
I think you should handle it in the catch of Promise returned by signIn method.

[2021-09-24 21:58] TLKG commented on #388
HTML and TS:

[code]

@jaibatrik Would you please elaborate where and how to handle the `popup close by user` if this is not implemented right? Thank you very much!

[2021-09-25 04:46] jaibatrik commented on #388
This actually looks alright to me. If this doesn't help, reopen the issue, I'll try to check it. Not getting time these days though.

[2021-09-25 17:55] TLKG commented on #388
@jaibatrik Appreciate it!
More details:
- It only started on F5 debug session a few weeks ago while no new/update packages, except VSC auto-updated itself
- adding `cross-origin-opener-policy` to angular.json based on this [SO](https://stackoverflow.com/questions/48683320/google-sso-login-error-popup-closed-by-user/66290764#66290764), not work.
- Sometimes removing all Google acct from Chrome work

[2021-09-25 18:00] TLKG commented on #388
@jaibatrik  If ng 12 & angularx-social-login v4 never has this issue or doesn't use popup, I'll try to upgrade and test if works. There is no option for me to re-open this issue. Thank you very much again!

[2021-09-29 05:37] #437 closed

[2021-10-04 04:26] thuctd opened #452 "Login by Facebook not working"
Error:
JSSDK Option is Not Toggled: Please toggle the "Login with Javascript SDK" Option to Yes in developers.facebook.com to use the JSSDK for Login.

[2021-10-04 15:34] NyaGarcia commented on #452
This error isn't related to angularx-social-login, you just need to adjust the settings in your Facebook for Developers console:

To fix this, you need to enable the "Login with the JavaScript SDK" option in your Facebook App. To be able to do so, you will also need to add an allowed domain for the JavaScript SDK. You will find these settings in the Facebook Login > Settings tab.

Here's a screens

[2021-10-04 20:47] arnoldsi-vii opened #453 "Handle Social Provider load error"
Hi,
Facebook, as you probably know is down. If you use multiple providers and Facebook one of them, the socialAuthService.authState will never publish an event.
I would like to know if there is an ability to handle social provider load errors.
Thanks

[2021-10-04 21:23] beldenge commented on #453
The problem as far as I can tell is in https://github.com/abacritt/angularx-social-login/blob/master/projects/lib/src/socialauth.service.ts on line 98.  That `.catch(console.debug);` just needs to be removed as it prevents the next catch which sends null into the authState.

[2021-10-04 21:35] beldenge commented on #453
I went ahead and created a PR although I'm not a contributor on this project and have done super minimal testing of the fix.  https://github.com/abacritt/angularx-social-login/pull/454

[2021-10-04 21:47] arnoldsi-vii commented on #453
@beldenge
I think it's already failing here:
[code]

When javascript sdk is down, this promise is never get resolved. Just tested it by blocking js call

[2021-10-04 23:40] #382 closed

[2021-10-05 02:32] #452 closed

[2021-10-05 14:55] tecnomage opened #455 "Cannot find exported name of node"
Hi, author when i try to run the project i get the following error:

[code]

thanks in advance.

====
angularx-social-login@2.0.1
"@angular/common": "^10.2.5",
 "@angular/compiler": "^10.2.5",
 "@angular/core": "^10.2.5",

[2021-10-05 17:27] TLKG commented on #388
It should be an NVM issue.

Details:

- I've been using nvm for two years and no problem.
- when this problem started I noticed Chrome loading first login page very slow, 7 sec. vs. 2 sec.
- Tried the following not helping
downgrade VSC to 2021/03 while sticking with ng11 and login3.
upgraded to ng12 and login4 for both VSC 2021/3 and current.

- After removing NVM, current VSC works with ng12 and

[2021-10-05 21:05] maravondra commented on #439
It is help
` this.authService.initState.subscribe(next => {
      console.log('authService observer')
      console.log(next)
      this.authLibraryReady = next
    })
`

[2021-10-05 21:05] #439 closed

[2021-10-07 07:43] adnanrafique commented on #430
Yes, Version 4.0.1 doesn't work with angular 11. I downgraded the version to 3.5.7 and it is working like a charm.

[2021-10-15 03:10] ErikPhilips commented on #292
Up

[2021-10-30 13:41] lcbotha opened #458 "Microsoft AuthorizationCode"
Hi,

Currently it seems that one can request the Authorization code with Google provider using `offline_access: true`. Looking at the code it doesn't seem to work the same for the Microsoft provider. It seems from `https://docs.microsoft.com/en-us/azure/active-directory-b2c/authorization-code-flow` that in order for us to retrieve the AuthorizationCode on the Microsoft provider we would have to sp

[2021-11-01 12:39] ashish-developers commented on #447
Use onclick event and redirect to this url with your credential

 `https://accounts.google.com/o/oauth2/v2/auth?scope=https://www.googleapis.com/auth/drive&access_type=offline&redirect_uri=http://localhost:4200&response_type=code&client_id=${this.youtubeClientId}`

[2021-11-02 15:42] ocket8888 commented on #362
Per [a comment on #248](https://github.com/abacritt/angularx-social-login/issues/248#issuecomment-864426328), a workaround is to add `ux_mode: "redirect"` to the options object passed to the `GoogleLoginProvider` constructor.

[2021-11-05 19:07] #444 closed

[2021-11-06 18:38] lcbotha commented on #458
From the msal-browser documentation it seems that authorization code cannot yet be retrieved with this library for use on the server-side. Alternative libraries will have to be considered if the authorization code is required. From the FAQs: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/FAQ.md#how-do-i-get-an-authorization-code-from-the-library.

![im

[2021-11-11 10:45] guikeller commented on #248
hi @jaibatrik

Thanks for the great plugin.
Any progress on this one? Cheers!

[2021-11-19 14:56] FatManiac commented on #447
I got the same issue, tried to put response_type in Options in module setting and on signIn function too, but the response type never change

Here someone talked about the same problem: https://github.com/abacritt/angularx-social-login/issues/349

[2021-11-26 12:38] BruneXX opened #463 "Change Angular 13 Peer Dependencies"
Please add support for angular 13

[2021-11-29 16:25] #446 closed

[2021-11-30 01:11] doppeldenken opened #464 "Angular Social Login (with Google) + Angular Guards"
I'm trying to implement an Angular Guard using the Angular Social Login npm package:

[code]

I can see `guard` being printed to the console. However, I can't see `map` printed to the console. Why?

If I do:

[code]

I can see `subscriber` being printed to the console.

What am I doing wrong?

I want to be able to add this Guard to a route. If a user is not logged in, it would be redirected to a l

[2021-12-02 02:41] #448 closed

[2021-12-08 10:52] msmiechowski commented on #464
Hi @doppeldenken ,

What you can do is to keep the signed-in state in one of your services, let's say `AuthService`. You'd subscribe to the `authState` observable from `angularx-social-login` in that service, as you might want to do some other app specific logic there based on the state changes (like store the user information to display it somewhere). A silly way to do it, still showcasing the pr

[2021-12-08 11:14] jaspreetKumar0grazitti opened #467 "is slack social login is supported by angular-social login"

[2021-12-09 11:36] doppeldenken commented on #464
This helped me immensely! Thank you for your time :1st_place_medal:

[2021-12-09 11:36] #464 closed

[2021-12-11 04:54] #453 closed

[2021-12-12 22:20] #455 closed

[2021-12-13 08:30] shanmugapriyak1788 commented on #463
Please add support for angular 13.

[2021-12-15 04:19] mbvb1223 commented on #263
humm, don't know why
[code]
this.loggedIn => return false

even ` autoLogin: true,`
[code]

[2021-12-20 10:01] mbvb1223 commented on #248
hi all, do you have any suggestion on this issue?

It is a big impact thing because many users login from facebook application.

[2021-12-20 14:20] dortegaoh commented on #463
Please add support for angular 13.

[2021-12-22 17:06] anvouk commented on #463
Tested google login in angular 13 and it works (for now).

Force install with: `npm i --save --force angularx-social-login`.

[2022-01-03 18:29] #445 closed

[2022-01-05 07:26] prashantchoudhary commented on #463
Surprisingly, version `3.5.4` installs without a warning.

[2022-01-12 07:38] jpike88 commented on #463
@jaibatrik looks like he went off the radar last July. I think this library might be abandoned.

[2022-01-13 02:06] #458 closed

[2022-01-13 07:57] mrpower55 opened #469 "is it support for ionic 3?"
hello,

i want to know if this plugin working fine with ionic 3?

thanks

[2022-01-13 20:34] cacalo commented on #463
Tested both Facebook and Google login working with Angular 13.1.3

[2022-01-17 04:26] jurgenru commented on #463
@cacalo i get errors everytime i try to install even with 13.1.3
![Screenshot from 2022-01-15 23-40-32](https://user-images.githubusercontent.com/37807383/149707969-dc0e54a1-32c5-4555-b1e0-c987de19b423.png)

[2022-01-17 05:17] jurgenru opened #472 "Getting errors when trying to install in an angular project"
Everytime i try to install the library i get this error and when i force it is unable to use the project
![Screenshot from 2022-01-17 01-12-58](https://user-images.githubusercontent.com/37807383/149711863-82578ac3-52f8-4307-b70c-c57008c31358.png)
![Screenshot from 2022-01-17 01-13-11](https://user-images.githubusercontent.com/37807383/149711873-3acbb4ae-189f-41fe-b453-0c8fbf53bc95.png)

[2022-01-17 13:16] cacalo commented on #463
Just add the "-f" flag to force the instalation. The library works just fine after you force install it.
I thought about bumping up the requirements of this repo and making a pull request, but I'm not sure that updating that would break it for some other people and I'm not expert enough to make a clean commit.

For the rest of the people with this issue, just force the install in angular 13.1.2

[2022-01-17 13:18] cacalo commented on #472
If you check the requirements of this library, it is specified that it officially supports up to angular 12 and you are trying yo use it in angular 13.
Nevertheless, it still works if you force install it. At least with Facebook and Google.

[2022-01-18 04:19] jurgenru commented on #463
@cacalo thank you so much yo saved my life

[2022-01-18 04:20] jurgenru commented on #472
@cacalo yep sorry i didnt read it, but thank you a lot <3

[2022-01-22 22:58] taalhach commented on #372
i resoled this issue in this way
[code]

hope it will help someone

[2022-01-24 10:37] orenab1 commented on #215
Same issue. Using angular app, following [this ](https://www.positronx.io/angular-google-social-login-tutorial-with-example/) tutorial.

[2022-01-28 09:26] #447 closed

[2022-02-04 15:58] Conzo427 commented on #452
I am seeing the same problem on the Xbox site.  How do I find the developer page on FB?

[2022-02-16 21:25] #467 closed